<div class="uk-animation-slide-left-small" uk-grid>
  <div class="uk-width-1-1">
    
    <div class="uk-margin-bottom" uk-grid>
      <div class="uk-width-expand@s uk-width-1-1">
        <h2 class="uk-heading-divider uk-text-truncate">
          {{ 'general.accounts' | translate }}
          <a (click)="viewAdvanced = !viewAdvanced" class="uk-text-truncate" style="font-size: 12px; margin-left: 25px;">{{ viewAdvanced ? 'BACK TO SIMPLE MODE' : 'MANAGE ACCOUNTS' }}</a>
        </h2>
      </div>
      <div class="uk-width-auto@m uk-width-1-1 uk-text-right">
        <div class="uk-grid-small uk-child-width-expand" uk-grid>
          <div>
            <input type="number" class="uk-input uk-form-width-small uk-width-1-1@m" [(ngModel)]="newAccountIndex" placeholder="Account #" *ngIf="viewAdvanced">
          </div>
          <div class="uk-width-auto@m">
            <button class="uk-button uk-button-secondary uk-width-1-1@m" (click)="createAccount()">
              {{ 'accounts.add-new-account' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="uk-card uk-overflow-hidden">
      <table class="uk-table uk-table-striped uk-table-small">
        <thead>
        <tr>
          <th scope="col" class="uk-width-3-5@m uk-width-1-2">
            {{ 'general.account' | translate }}
          </th>
          <th scope="col" class="uk-width-1-5@m uk-width-1-4 uk-text-right">{{ 'general.balance' | translate }}</th>
          <th scope="col" [class]="{
            'table-header-delete-account': true,
            'uk-width-1-5@m': true,
            'uk-width-1-4': true,
            'uk-text-right': true,
            'hidden-column': ( isSingleKeyWallet || !viewAdvanced )
          }"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let account of accounts" class="uk-visible-toggle">
          <td class="uk-visible-toggle uk-text-truncate">
            <div uk-grid>
              <a [routerLink]="'/account/' + account.id" [class]="[ 'uk-width-auto', 'uk-text-truncate', 'account-container', !isLedgerWallet ? 'narrow' : 'wide' ]">
                <div class="uk-width-1-1">
                  <div class="account-index" *ngIf="viewAdvanced"><span>#</span>{{ account.index }}</div>
                  <div class="account-label">{{
                      account.addressBookName
                    ? account.addressBookName
                    : (
                        viewAdvanced
                      ? ('general.account' | translate)
                      : ('general.account' | translate) + ' #' + account.index
                    )
                  }}</div>
                </div>
                <div class="nano-address-clickable nano-address-monospace uk-text-truncate">
                  <app-nano-account-id [accountID]="account.id" middle="auto"></app-nano-account-id>
                </div>
              </a>
              <div class="nano-address-actions uk-width-auto copy-container">
                <ul class="uk-iconnav copy-icons">
                  <li><a ngxClipboard [cbContent]="account.id" (cbOnSuccess)="copied()" uk-icon="icon: copy" title="{{ 'general.copy-to-clipboard' | translate }}" uk-tooltip></a></li>
                  <li *ngIf="isLedgerWallet"><a uk-icon="icon: commenting" title="{{ 'accounts.confirm-address-on-ledger' | translate }}" (click)="showLedgerAddress(account)" uk-tooltip></a></li>
                </ul>
              </div>
            </div>
          </td>
          <td class="account-amounts-column uk-text-right">
            <div class="account-amounts-primary uk-width-1-1">
              <div *ngIf="account.pending.gt(0)" class="incoming-label">
                <div class="text-snippet">{{ 'general.new' | translate }}</div>
                <div class="text-full">+{{ account.pending | rai: 'mnano,true' | amountsplit: 0 }}{{ account.pending | rai: 'mnano,true' | amountsplit: 1 }} NANO</div>
              </div>
              <span [title]="( account.balanceRaw.gt(0) ? ( '+' + ( account.balanceRaw.toString(10) | squeeze:'5,5' ) + ' raw' ) : '' )">
                {{ account.balance | rai: 'mnano,true' | amountsplit: 0 }}{{ account.balance | rai: 'mnano,true' | amountsplit: 1 }} NANO
              </span>
            </div>
            <div class="uk-width-1-1">
              {{ account.balanceFiat | fiat: settings.settings.displayCurrency }}
            </div>
          </td>
          <td [class]="{
            'uk-text-right': true,
            'hidden-column': ( isSingleKeyWallet || !viewAdvanced )
          }">
            <div class="uk-float-right">
              <a (click)="deleteAccount(account)" class="icon-delete-account uk-text-danger" title="{{ 'general.hide' | translate }}" uk-tooltip><span uk-icon="icon: close;"></span></a>
            </div>
          </td>
        </tr>
        <tr *ngIf="!accounts.length">
          <td colspan="4" style="text-align: center;">You don't have any accounts yet, <a (click)="createAccount()">click here to create one</a>.</td>
        </tr>
        </tbody>
      </table>
      <table class="uk-table uk-table-striped uk-table-small" *ngIf="!isSingleKeyWallet">
        <thead>
          <tr class="uk-alert uk-alert-primary missing-accounts-hint">
            <td colspan="4" style="text-align: center;"><span uk-icon="icon: info"></span> Missing accounts? <a class="hint-action" (click)="createAccount()">Add new account</a> to import a previously used address.</td>
          </tr>
        </thead>
      </table>
    </div>

  </div>
</div>
