<div class="uk-animation-slide-left-small" uk-grid>
  <div class="uk-width-1-1">
    
    <div class="uk-margin-bottom" uk-grid>
      <div class="uk-width-expand@s uk-width-1-1">
        <h2 class="uk-heading-divider">
          Accounts
          <a (click)="viewAdvanced = !viewAdvanced" style="font-size: 12px; margin-left: 25px;">{{ viewAdvanced ? 'BASIC' : 'ADVANCED' }}</a>
        </h2>
      </div>
      <div class="uk-width-auto@m uk-width-1-1 uk-text-right">
        <div class="uk-grid-small uk-child-width-expand" uk-grid>
          <div>
            <input type="number" class="uk-input uk-form-width-small uk-width-1-1@m" [(ngModel)]="newAccountIndex" placeholder="Account #" *ngIf="viewAdvanced">
          </div>
          <div class="uk-width-auto@m">
            <button class="uk-button uk-button-secondary uk-width-1-1@m" (click)="createAccount()">
              Add New Account
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="uk-card uk-overflow-auto">
      <table class="uk-table uk-table-striped uk-table-small">
        <thead>
        <tr>
          <th scope="col" class="uk-width-3-5@m uk-width-1-2">
            Account
          </th>
          <th scope="col" class="uk-width-1-5@m uk-width-1-4 uk-text-right">Balance</th>
          <th scope="col" class="uk-width-1-5@m uk-width-1-4 uk-text-right"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let account of accounts" class="uk-visible-toggle">
          <td class="uk-visible-toggle uk-text-truncate">
            <div uk-grid>
              <div [class]="[ 'uk-width-auto', 'uk-text-truncate', !isLedgerWallet ? 'account-container' : 'account-container-wide' ]">
                <div class="uk-width-1-1">
                  <a class="uk-label uk-label-default account-index" [routerLink]="'/account/' + account.id" title="View Account Details" uk-tooltip>
                    {{ account.addressBookName ? account.addressBookName : 'Account #' + account.index }}
                  </a>
                </div>
                <a [routerLink]="'/account/' + account.id" class="uk-link-text" title="View Account Details" uk-tooltip>
                  <app-nano-account-id [accountID]="account.id" middle="on"></app-nano-account-id>
                </a>
              </div>
              <div class="uk-width-auto copy-container">
                <ul class="uk-iconnav copy-icons">
                  <li><a ngxClipboard [cbContent]="account.id" (cbOnSuccess)="copied()" uk-icon="icon: copy" title="Copy Account Address" uk-tooltip></a></li>
                  <li *ngIf="isLedgerWallet"><a uk-icon="icon: commenting" title="Confirm Address On Ledger" (click)="showLedgerAddress(account)" uk-tooltip></a></li>
                </ul>
              </div>
            </div>
          </td>
          <td class="uk-text-right" style="white-space: nowrap;">
            <div class="uk-width-1-1">
              <div *ngIf="account.pending.gt(0)" class="incoming-label">
                <div class="text-snippet">New</div>
                <div class="text-full">+{{ account.pending | rai: settings.settings.displayDenomination + ',true' }}</div>
              </div>
              <span [title]="( account.balanceRaw.gt(0) ? ( '+' + ( account.balanceRaw.toString(10) | squeeze:'5,5' ) + ' raw' ) : '' )">
                {{ account.balance | rai: settings.settings.displayDenomination }}
              </span>
            </div>
            <div class="uk-width-1-1">
              {{ account.balanceFiat | fiat: settings.settings.displayCurrency }}
            </div>
          </td>
          <td class="uk-text-right">
            <div class="uk-float-right">
              <a (click)="deleteAccount(account)" class="uk-text-danger" title="Hide Account" uk-tooltip><span uk-icon="icon: close;"></span></a>
            </div>
          </td>
        </tr>
        <tr *ngIf="!accounts.length">
          <td colspan="4" style="text-align: center;">You don't have any accounts yet, <a (click)="createAccount()">click here to create one</a>.</td>
        </tr>
        <tr class="uk-alert uk-alert-primary missing-accounts-hint" *ngIf="!isSingleKeyWallet">
          <td colspan="4" style="text-align: center;"><span uk-icon="icon: info"></span> Missing accounts? <a (click)="createAccount()">Add new account</a> to import a previously used address.</td>
        </tr>
        </tbody>
      </table>
    </div>

    <p class="uk-text-center uk-text-small">Click on an account to view more details!</p>

  </div>
</div>
