<div class="uk-animation-slide-left-small" uk-grid>
  <div class="uk-width-1-1">
    <div uk-grid>
      <div class="uk-width-1-2"><h2>Accounts</h2></div>
      <div class="uk-width-1-2 uk-text-right">
        <button class="uk-button uk-button-secondary" (click)="createAccount()">
          Create New Account
        </button>
      </div>
    </div>

    <div class="uk-card uk-card-default uk-margin-top">
      <table class="uk-table uk-table-striped uk-table-small">
        <thead>
        <tr>
          <th class="uk-width-2-5">Account</th>
          <th class="uk-width-1-4">Balance</th>
          <th class="uk-width-1-4">Pending</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let account of accounts">
          <td class="uk-text-truncate">
            <strong *ngIf="account.addressBookName" class="uk-margin-right">{{ account.addressBookName }}</strong>
            <a (click)="modal.showAccount(account.id)" class="uk-link-text" title="View Account Details" uk-tooltip>{{ account.id }}</a>
          </td>
          <td>{{ account.balance | rai: settings.settings.displayDenomination }}</td>
          <td>{{ account.pending | rai: settings.settings.displayDenomination }}</td>
        </tr>
        <tr *ngIf="!(accounts).length">
          <td colspan="4" style="text-align: center;">You don't have any accounts yet, <a (click)="createAccount()">click here to create one</a></td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
