.word-wrap-anywhere {
  word-wrap: anywhere;
}

pre.mnemonic {
  white-space: pre-wrap;
}

pre.mnemonic:before {
  counter-reset: listing;
}

pre.mnemonic span.mnemonic-word {
  counter-increment: listing;
}

pre.mnemonic span.mnemonic-word::before {
  content: counter(listing) ". ";
  display: inline-block;
  width: 8em;         /* doesn't work */
  padding-left: auto; /* doesn't work */
  margin-left: auto;  /* doesn't work */
  text-align: right;  /* doesn't work */
}

.mne-num {
  color: #CCC;
  display: inline-block;
  width: 13px;
  font-size: 10px;
  text-align: left;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.mne-box {
  max-width: 410px;
}

.mne-cont {
  display: block;
}

.mne-word {
  display: inline-block;
  min-width: 100px;
}