# If you want Nault to appear in a Linux app launcher ("start menu"), install
# this by doing:
# sudo desktop-file-install nault.desktop

[Desktop Entry]
Type=Application
GenericName[en_US]=Nano Wallet
GenericName=Nano Wallet
Name[en_US]=Nault Nano Wallet
Name=Nault Nano Wallet
Comment=The most advanced wallet for the Nano cryptocurrency
Icon=nault
Exec=nault %f
Categories=Finance;Network;
Terminal=false
StartupNotify=true
MimeType=x-scheme-handler/nano;
