.confirm-title {
  display: block;
  font-size: 24px;
}

.confirm-currency {
  display: block;
  font-size: 20px;
}

.confirm-subtitle {
  display: block;
  font-size: 10px;
}

.icon-qr-code {
  width: 19px;
  height: 19px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: currentcolor;
  -webkit-mask-image: url('assets/img/qr-code.svg');
  mask-image: url('assets/img/qr-code.svg');
}

@media (max-width: 12450px) {
  .br-spacer {
    display: block;
  }
}
@media (max-width: 959px) {
  .br-spacer {
    display: none;
  }
}

.block-qr {
  margin:auto;
  max-width: 600px;
}

@media only screen and (max-width: 1200px) {
  .block-qr {
      max-width: 1200px;
  }
}

.modal-qr {
  width: 80%;
  max-width: 650px !important;
  padding: 20px 0 0 0;
}

@media only screen and (max-width: 1200px) {
  .modal-qr {
      width: 100%;
      max-width: 1200px !important;
  }
  .modal-qr-body {
      padding: 30px 5px;
  }
}

.uk-modal-body .qr-code-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 350px;
  background: #FFF;
  margin-bottom: 0;
}
.uk-modal-body .qr-code {
  width: 350px;
  height: 350px;
  border-radius: 6px;
}
@media (max-width: 1199px) {
  .uk-modal-body .qr-code-placeholder, .uk-modal-body .qr-code {
      min-width: 350px;
      min-height: 350px;
      width: 60%;
      height: auto;
  }
}
@media (max-width: 699px) {
  .uk-modal-body .qr-code-placeholder, .uk-modal-body .qr-code {
      width: 80%;
      height: auto;
  }
}

.second-icon {
  margin-right:35px;
}

.add-button {
  cursor: pointer;
}

.add-button span {
  vertical-align: text-bottom;
}

.block-amount-primary {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  line-height: 1;
  margin-top: 4px;
}

.block-amount-primary > .amount-integer {
  font-size: 32px;
  font-weight: 700;
}

.block-amount-primary > .amount-fractional,
.block-amount-primary > .currency-name {
  font-size: 21px;
}

.block-amount-primary > .currency-name {
  margin-left: 6px;
}

.block-balance .balance-amount-primary .amount-amount-sign,
.block-balance .balance-amount-primary .amount-integer,
.block-balance .balance-amount-primary .amount-fractional,
.block-balance .balance-amount-primary .currency-name {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.block-balance .balance-amount-primary .amount-sign {
  font-weight: 500;
  margin-right: 1px;
}

.block-balance .balance-amount-primary .amount-integer {
  font-weight: 700;
}

.block-balance .balance-amount-primary .amount-fractional {
  font-weight: 500;
}

.block-balance .balance-amount-primary .currency-name {
  font-weight: 400;
  margin-left: 5px;
}