<div uk-grid>
  <div class="uk-width-1-1">
    <h2>Sign Nano Block</h2>

    <!-- Confirmation Panel -->
    <div uk-grid *ngIf="activePanel == 'confirm'" class="uk-animation-slide-left">
      <div class="uk-width-1-1">
        <div class="uk-card uk-card-default uk-width-1-1 uk-text-center">
          <span style="display: block; padding-top: 8px;">You are about to sign a block to send</span>
          <span style="display:block; font-size: 32px;">{{ rawAmount | rai: 'mnano' }}</span>
        </div>
        <br>
        <div uk-grid *ngIf="fromAccountID && toAccountID">
          <div class="uk-width-1-2@m">
            <div class="uk-card uk-card-default">
              <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">

                <span class="confirm-title uk-text-truncate">
                  <div *ngIf="fromAddressBook">
                    <span class="confirm-title">{{ fromAddressBook }}</span>
                    <span class="confirm-subtitle">From Account</span>
                    <span class="uk-text-small uk-text-truncate">{{ fromAccountID }}</span>
                  </div>
                  <div *ngIf="!fromAddressBook">
                    <span class="confirm-title uk-text-truncate">{{ fromAccountID }}</span>
                    <span class="confirm-subtitle">From Account</span>
                    <br class="br-spacer" />
                  </div>
                </span>
              </div>
              <div class="uk-card-body" style="padding: 20px 20px;">
                <div uk-grid>
                  <div class="uk-width-1-2 uk-text-muted">
                    <span class="confirm-currency">{{ fromAccountBalance || 0 | rai: 'mnano'}}</span>
                    <span class="confirm-subtitle">Current Balance</span>
                  </div>
                  <div class="uk-width-1-2 uk-text-right">
                    <span class="confirm-currency uk-text-danger">-{{ rawAmount | rai: 'mnano' }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-2@m">
            <div class="uk-card uk-card-default">
              <div class="uk-card-header uk-text-right" style="padding: 20px 20px;">

                <span class="confirm-title uk-text-truncate">
                  <div *ngIf="toAddressBook">
                    <span class="confirm-title">{{ toAddressBook }}</span>
                    <span class="confirm-subtitle">To Account</span>
                    <span class="uk-text-small uk-text-truncate">{{ toAccountID }}</span>
                  </div>
                  <div *ngIf="!toAddressBook">
                    <span class="confirm-title uk-text-truncate">{{ toAccountID }}</span>
                    <span class="confirm-subtitle">To Account</span>
                    <br class="br-spacer" />
                  </div>
                </span>
              </div>
              <div class="uk-card-body" style="padding: 20px 20px;">
                <div uk-grid>
                  <div class="uk-width-1-2 uk-text-muted">
                    <span class="confirm-currency">{{ toAccountBalance || 0 | rai: 'mnano'}}</span>
                    <span class="confirm-subtitle">Current Balance</span>
                  </div>
                  <div class="uk-width-1-2 uk-text-right">
                    <span class="confirm-currency uk-text-success">+{{ rawAmount | rai: 'mnano' }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>

        <div class="uk-card uk-card-default uk-width-1-1" style="padding: 20px 20px;">
          <span><strong>Signing Method</strong></span><br>
          <input type="radio" value="wallet" name="method" ngModel> Nault Wallet
          <input type="radio" value="seed" name="method" ngModel> Seed+Index
          <input type="radio" value="key" name="method" ngModel> Private key
        </div>
        <br>

        <div uk-grid>
          <div class="uk-width-1-2@s">
            <button (click)="activePanel = 'cancel'" class="uk-button uk-button-danger uk-width-1-1">Cancel</button>
          </div>
          <div class="uk-width-1-2@s">
            <button *ngIf="!confirmingTransaction" class="uk-button uk-button-primary uk-width-1-1" (click)="confirmTransaction()">Confirm & Sign</button>
            <button *ngIf="confirmingTransaction" class="uk-button uk-button-primary uk-disabled uk-width-1-1"><span class="uk-margin-right" uk-spinner></span> Loading</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Confirmation Panel -->


    <div uk-grid *ngIf="activePanel == 'cancel'" class="uk-animation-slide-left">
      <div class="uk-width-1-1">
        <div class="uk-card uk-card-default uk-width-1-1 uk-text-center">
          <span style="display: block; padding-top: 8px;">Block signing cancelled!<br/></span>
        </div>
      </div>
    </div>

    <div uk-grid *ngIf="activePanel == 'error'" class="uk-animation-slide-left">
      <div class="uk-width-1-1">
        <div class="uk-card uk-card-default uk-width-1-1 uk-text-center">
          <span style="display: block; padding-top: 8px;">The provided block info is not valid.<br/>Please refer to any error message below.<br/></span>
        </div>
      </div>
    </div>

  </div>
</div>


