<div *ngIf="displayedRepresentatives.length > 0" class="nav-representative-info">
  <h2>Representative{{ displayedRepresentatives.length > 1 ? 's' : '' }}</h2>
  <div class="representative" *ngFor="let rep of displayedRepresentatives" (mouseover)="showRepHelp=rep.id" (mouseout)="showRepHelp=null">
    <div class="representative-name-row">
      <a (click)="showRepSelectionForSpecificRepId(rep.id)" class="name">{{ rep.label || 'Unknown' }}</a>
      <div class="weight-total">{{ rep.percent.toFixed(2) }}%</div>
    </div>
    <ng-container [ngSwitch]="true">
      <div class="representative-health-row health-yellow" *ngSwitchCase="rep.statusText == 'warn'">
        <div class="health-icon"></div>
        <div class="label">Acceptable Representative</div>
      </div>
      <div class="representative-health-row health-red" *ngSwitchCase="rep.statusText == 'alert'">
        <div class="health-icon"></div>
        <div class="label">Bad Representative</div>
      </div>
      <div class="representative-health-row health-green" *ngSwitchDefault>
        <div class="health-icon"></div>
        <div class="label">Good Representative</div>
      </div>
    </ng-container>
    <div [class]="[ 'representative-help-tooltip', showRepHelp==rep.id ? 'visible' : 'hidden' ]">
      <p class="primary"><b>{{ rep.label || 'Unknown Rep' }}</b> represents you in the Nano consensus protocol by voting on your behalf.</p>
      <p>You can change representative at any time by clicking on its name above.</p>
      <div class="header-row">
        <div class="separator"></div>
        <h2>Health</h2>
        <div class="separator"></div>
      </div>
      <p class="uk-text-danger" *ngIf="rep.status.markedToAvoid">
        <span uk-icon="icon: warning;"></span>This representative is <b>marked as "avoid"</b> in the list of known reps.
      </p>
      <p class="uk-text-danger" *ngIf="rep.status.veryHighWeight">
        <span uk-icon="icon: warning;"></span>This representative has a <b>very high voting weight</b> (over 3%).
      </p>
      <p class="uk-text-warning" *ngIf="rep.status.highWeight">
        <span uk-icon="icon: warning;"></span>This representative has a <b>high voting weight</b> (over 1%).
      </p>
      <p class="uk-text-danger" *ngIf="rep.status.veryLowUptime && rep.status.uptime > 0">
        <span uk-icon="icon: warning;"></span>This representative is <b>often offline</b> ({{ rep.status.uptime.toFixed(1) }}% uptime).
      </p>
      <p class="uk-text-warning" *ngIf="rep.status.lowUptime && rep.status.uptime > 0">
        <span uk-icon="icon: warning;"></span>This representative is <b>sometimes offline</b> ({{ rep.status.uptime.toFixed(1) }}% uptime).
      </p>
      <p class="uk-text-warning" *ngIf="!rep.status.veryLowUptime && !rep.status.lowUptime && !rep.status.online">
        <span uk-icon="icon: warning;"></span>This representative is <b>currently offline</b><ng-container *ngIf="rep.status.uptime !== null"> ({{ rep.status.uptime.toFixed(1) }}% uptime)</ng-container>.
      </p>
      <p class="uk-text-danger" *ngIf="!rep.status.online && rep.status.uptime === 0">
        <span uk-icon="icon: warning;"></span>This representative has been <b>offline for the past 7 days</b>.
      </p>
      <p class="uk-text-success" *ngIf="rep.statusText == 'ok'">
        <span uk-icon="icon: check;"></span>We've found no issues with uptime or weight distribution of your current representative.
      </p>
      <p *ngIf="rep.statusText != 'ok'">
        It is <b>highly advised</b> to switch to a different representative, in order to improve security and decentralization of the Nano network.
      </p>
    </div>
  </div>
</div>

<div class="nav-status-row interactable uk-animation-slide-left" (click)="showRepSelectionForAllChangeableReps()" *ngIf="changeableRepresentatives.length">
  <div class="status-icon">
    <span class="uk-text-warning" uk-icon="icon: warning; ratio: 1.2;"></span>
  </div>
  <div class="status-labels">
    <div class="label primary uk-text-warning">Representative Change Required</div>
  </div>
</div>
