<div class="uk-width-1-1 uk-background-secondary wallet-bar">
  <div class="uk-margin-left" style="padding-top: 6px; padding-bottom: 6px; color: #FFF;">
    <div uk-grid>
      <div class="uk-width-1-1">
        <div *ngIf="walletService.isLedgerWallet()">
          <div *ngIf="ledgerStatus === 'not-connected' || !ledgerStatus">
            <span style="cursor:pointer" (click)="reloadLedger()" class="uk-text-warning" uk-tooltip title="Reload Ledger status">
              <span uk-icon="icon: refresh" style="float: right; margin-right: 15px;" class="uk-text-muted"></span>
              <span uk-icon="icon: warning" class="uk-text-top"></span> <span class="uk-text-bottom">Ledger Disconnected</span>
            </span>
          </div><div *ngIf="ledgerStatus === 'locked'">
            <span style="cursor:pointer" (click)="reloadLedger()" class="uk-text-warning" uk-tooltip title="Reload Ledger status">
              <span uk-icon="icon: refresh" style="float: right; margin-right: 15px;" class="uk-text-muted"></span>
              <span uk-icon="icon: warning" class="uk-text-top"></span> <span class="uk-text-bottom">Ledger App Closed</span>
            </span>
          </div>
          <div *ngIf="ledgerStatus === 'ready'">
            <span style="cursor:pointer" (click)="reloadLedger()" class="uk-text-success">
              <span uk-icon="icon: bolt" class="uk-text-top"></span> <span class="uk-text-bottom">Ledger Ready</span>
            </span>
          </div>
        </div>

        <div *ngIf="walletService.isConfigured() && !walletService.isLedgerWallet()">
          <div *ngIf="walletService.isLocked()" class="uk-text-bottom">
            <span style="cursor: pointer;" (click)="modal.show()">
              <span uk-icon="icon: lock" class="uk-text-top"></span> <span class="uk-text-bottom">Wallet Locked</span>
            </span>
          </div>
          <div *ngIf="!walletService.isLocked()">
            <span style="cursor:pointer" (click)="lockWallet()">
              <span uk-icon="icon: unlock" class="uk-text-top"></span> <span class="uk-text-bottom">Wallet Unlocked</span>
            </span>
          </div>
        </div>

        <div *ngIf="!walletService.isConfigured()">
          <a routerLink="/configure-wallet" class="uk-text-warning">
            <span uk-icon="icon: warning" class="uk-text-top"></span> <span class="uk-text-bottom">Configure Wallet</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="unlock-wallet-modal" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Unlock Wallet</h2>
    </div>
    <div class="uk-modal-body">
      <input autofocus type="password" [(ngModel)]="unlockPassword" (keyup.enter)="unlockWallet()" class="uk-input" placeholder="Enter wallet password">
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
      <button class="uk-button uk-button-primary" type="button" (click)="unlockWallet()">Unlock</button>
    </div>
  </div>
</div>
