<div class="uk-animation-slide-left-small" uk-grid>
  <div class="uk-width-1-1">

    <h2>Manage Wallet</h2>

    <div class="uk-card uk-card-default uk-margin" *ngIf="!walletService.isLedgerWallet()">
      <div class="uk-card-header">
        <h3 class="uk-card-title">Change Wallet Password</h3>
      </div>
      <div class="uk-card-body">
        <div uk-grid>
          <div class="uk-width-1-2@s">
            <input class="uk-input" [(ngModel)]="newPassword" placeholder="New Password" type="password">
          </div>
          <div class="uk-width-1-2@s">
            <input class="uk-input" [(ngModel)]="confirmPassword" placeholder="Confirm New Password" type="password">
          </div>
        </div>
      </div>
      <div class="uk-card-footer uk-text-right@s uk-text-center nlt-button-group">
        <button (click)="changePassword()" class="uk-button uk-button-primary uk-width-auto@s uk-width-1-1">Update Password</button>
      </div>
    </div>

    <div class="uk-card uk-card-default uk-margin" *ngIf="!walletService.isLedgerWallet()">
      <div class="uk-card-header">
        <h3 class="uk-card-title">Backup Wallet</h3>
      </div>
      <div class="uk-card-body">
        <p *ngIf="wallet.locked">
          To access backup options, unlock your wallet.
        </p>
        <p *ngIf="!wallet.locked">
          To backup your wallet mnemonic phrase, <a title="Copy Mnemonic To Clipboard" ngxClipboard [cbContent]="seedMnemonic()" (cbOnSuccess)="notifications.sendSuccess('Wallet mnemonic copied to clipboard!')" uk-tooltip>click here</a> to copy it to your clipboard.<br>
          <br>
          To backup your wallet seed, <a title="Copy Seed To Clipboard" ngxClipboard [cbContent]="wallet.seed" (cbOnSuccess)="notifications.sendSuccess('Wallet seed copied to clipboard!')" uk-tooltip>click here</a> to copy it to your clipboard.<br>
        </p>
      </div>
    </div>

    <div class="uk-card uk-card-default uk-margin" *ngIf="!walletService.isLedgerWallet()">
      <div class="uk-card-header">
        <h3 class="uk-card-title">Export Nault Wallet</h3>
      </div>
      <div class="uk-card-body">
        Use this export tool to simplify wallet transfer to other devices. Your data will be encrypted by your password, and then imported into Nault on your new device!
        The export does not contain your address book.<br>
        <div *ngIf="showQRExport" uk-grid>
          <div class="uk-width-1-1">
            <hr class="uk-divider-icon">
          </div>

          <div class="uk-width-1-2@s uk-width-1-4@m">
            <img [src]="QRExportImg">
          </div>
          <div class="uk-width-1-2@s uk-width-3-4@m">
            Scan the QR code on any device to load your Nault wallet!<br>
            <br>
            If you do not have a QR code scanner, you can also import your wallet by using the URL below.<br>
            <input type="text" class="uk-input" value="{{ QRExportUrl }}"><br>
            <a title="Copy Export URL To Clipboard" ngxClipboard [cbContent]="QRExportUrl" (cbOnSuccess)="notifications.sendSuccess('Wallet export copied to clipboard!')" uk-tooltip>Copy to clipboard</a>
          </div>
        </div>
      </div>
      <div class="uk-card-footer uk-text-right@s uk-text-center nlt-button-group">
        <button (click)="exportToFile()" class="uk-button uk-button-secondary uk-width-auto@s uk-width-1-1">Export As File</button>
        <button (click)="exportWallet()" class="uk-button uk-button-secondary uk-width-auto@s uk-width-1-1">Export QR Code</button>
      </div>
    </div>

    <div class="uk-card uk-card-default uk-margin">
      <div class="uk-card-header">
        <h3 class="uk-card-title">Nault Address Book</h3>
      </div>
      <div class="uk-card-body">
        Use this tool to simplify transferring your address book between devices.  Use the options below to import or export your
        address book from a file or QR Code/URL.  Your address book is not encrypted by your wallet password.
        <div *ngIf="addressBookShowQRExport" uk-grid>
          <div class="uk-width-1-1">
            <hr class="uk-divider-icon">
          </div>

          <div class="uk-width-1-2@s uk-width-1-4@m">
            <img [src]="addressBookQRExportImg">
          </div>
          <div class="uk-width-1-2@s uk-width-3-4@m">
            Scan the QR code on any device to import your Nault Address Book!<br>
            <br>
            If you do not have a QR code scanner, you can also import your address book by using the URL below.<br>
            <input type="text" class="uk-input" value="{{ addressBookQRExportUrl }}"><br>
            <a title="Copy Export URL To Clipboard" ngxClipboard [cbContent]="addressBookQRExportUrl" (cbOnSuccess)="notifications.sendSuccess('Address book export copied to clipboard!')" uk-tooltip>Copy to clipboard</a>
          </div>
        </div>
      </div>
      <div class="uk-card-footer uk-text-right@s uk-text-center nlt-button-group">
        <div class="js-upload uk-text-left uk-width-auto@s uk-width-1-1" style="display: inline-block;" uk-form-custom>
          <input type="file" id="import-from-file" (change)="importFromFile($event.target.files)" multiple>
          <button class="uk-button uk-button-primary uk-width-auto@s uk-width-1-1" type="button" tabindex="-1">Import Address Book</button>
        </div>
        <button (click)="exportAddressBookToFile()" class="uk-button uk-button-secondary uk-width-auto@s uk-width-1-1">Export As File</button>
        <button (click)="exportAddressBook()" class="uk-button uk-button-secondary uk-width-auto@s uk-width-1-1">Export QR Code</button>
      </div>
    </div>

  </div>
</div>
