<div class="uk-animation-slide-left-small" uk-grid>
  <div class="uk-width-1-1">
    <h2 class="uk-heading-divider">Import Address Book Entries</h2>

    <div class="uk-card uk-card-default uk-margin" *ngIf="activePanel == 'error'">
      <div class="uk-card-header">
        <h3 class="uk-card-title">Bad Import Data</h3>
      </div>
      <div class="uk-card-body">
        <p>There was an issue reading the import data for your address book.  Double check the address and try again.</p>
      </div>
    </div>

    <div class="uk-card uk-card-default uk-margin" *ngIf="activePanel == 'import'">
      <div class="uk-card-header">
        <h3 class="uk-card-title">Confirm Import</h3>
      </div>
      <div class="uk-card-body">
        <p class="uk-text-center">
          You are about to import the following address book entries {{hostname ? 'from ' + hostname : ''}}
        </p>
        <p class="uk-text-center">
          <span class="import-warning" *ngIf="conflictingEntries">
            {{ conflictingEntries }} Labels already exist and will have their name changed.
          </span>
          <span class="import-warning" *ngIf="newEntries">
            {{ newEntries }} New labels will be added.
          </span>
          <span class="import-warning" *ngIf="existingEntries">
            {{ existingEntries }} Labels already exist and will not be modified.
          </span>
        </p>

        <div uk-grid>
          <div class="uk-width-1-1">
            <ul class="uk-list uk-list-striped" style="margin-bottom: 0;">
              <li style="background: #fff; border-bottom: 0;">
                <div uk-grid style="color: #999; text-transform: uppercase; font-size: .875rem; font-weight: 400;">
                  <div class="uk-width-1-4">New Label</div>
                  <div class="uk-width-1-4">Current Label</div>
                  <div class="uk-width-1-2 uk-text-truncate" style="padding-left: 0;">Account</div>
                </div>
              </li>
            </ul>
            <ul class="uk-list uk-list-striped" style="margin-top: 0;">
              <li *ngFor="let entry of importData" [ngClass]="{ 'uk-text-success': !entry.originalName, 'uk-text-warning': entry.originalName && entry.originalName !== entry.name, 'uk-text-muted': entry.originalName == entry.name }">
                <div uk-grid>
                  <div class="uk-width-1-4 uk-text-truncate">
                    {{ entry.name }}
                  </div>
                  <div class="uk-width-1-4 uk-text-truncate">
                    {{ entry.originalName }}
                  </div>
                  <div class="uk-width-1-2 uk-text-truncate">
                    {{ entry.account }}
                  </div>
                </div>

              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="uk-card-footer">
        <div uk-grid>
          <div class="uk-width-1-2 uk-text-left">
            <button routerLink="/address-book" class="uk-button uk-button-danger">Cancel</button>
          </div>
          <div class="uk-width-1-2 uk-text-right">
            <button (click)="confirmImport()" class="uk-button uk-button-secondary">Import Entries</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
