<div uk-grid>
  <div class="uk-width-1-1">
    <h2>Remote Signing</h2>

    <div uk-grid class="uk-animation-slide-left-small">
      <div class="uk-width-1-1">
        <div class="uk-card uk-card-default">
          <div class="uk-card-body">
            <p><strong>An extremely secure way of transacting on the Nano network without exposing your private keys to the Internet, ensuring only non-sensitive data is transferred between devices.</strong></p>
            <ol>
              <li>Create a block <strong>online</strong> using the latest information from the network.</li>
              <li>Sign the block hash on an <strong>offline</strong> device using a private key corresponding to the account from step 1.</li>
              <li>Return the signature and process the final block <strong>online</strong>.</li>
            </ol>

            <h3>STEP 1 (Online Device)</h3>
            <p><strong>Start with an account in "watch-only" mode. No login is needed.</strong></p>
            <div class="uk-inline uk-width-1-1">
              <div class="uk-grid-large" uk-grid>
                <div class="uk-width-expand@m uk-width-1-1">
                  <input (keyup)="validateDestination()" [(ngModel)]="toAccountID" class="uk-input" [ngClass]="{ 'uk-form-success': toAccountStatus === 1, 'uk-form-danger': toAccountStatus === 0 }" type="text" placeholder="Account to create a block for" autocomplete="off">
                </div>
                <div class="uk-width-1-6@m uk-width-1-1">
                  <a class="uk-button uk-button-primary" routerLink="{{toAccountID ? '/account/'+toAccountID:''}}" [queryParams]="{ sign: 1 }" routerLinkActive="active">GO</a>
                </div>
              </div>
            </div>

            <h3>STEP 2 (Offline Device)</h3>
            <p><strong><a routerLink="/qr-scan" routerLinkActive="active">Scan the unsigned QR code</a> from Step 1.</strong><br>
              Confirm and Sign it using any of the methods provided. Seed, Mnemonic, Private key or Ledger hardware wallet. Proof of Work is optional.</p>

            <h3>STEP 3 (Online Device)</h3>
            <p><strong><a routerLink="/qr-scan" routerLinkActive="active">Scan the signed QR code</a> from Step 2.</strong><br>
              Confirm and Send the block to the live network! Proof of Work will be made if not done in Step 2.</p>
          </div>
        </div>
      </div>
  </div>
</div>


