:host {
    flex: 1;
    overflow: hidden;
}

.nav-install-row {
    width: 100%;
    height: 80px;
    border-top: 1px solid #383844;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    color: white;
    transition: all 0.5s ease-in-out;
    
    &:not(.ios) {
        cursor: pointer;
        &:hover > .label {
            border-color: white;
        }
    }
    
    .title {
        transition: border-color 0.1s ease-in-out;
        border-bottom: 2px solid transparent;
    }
    .description {
        opacity: 0.7;
        font-size: 0.8rem;
    }

    .icon {
        margin-right: 8px;
    }

    &:not(.visible) {
        transform: translateY(100%);
    }
}