.form-select-source, .form-input-destination, .form-select-destination {
	max-width: 800px;
}

.form-amount {
	max-width: 450px;
}

.confirm-title {
  display: block;
  font-size: 24px;
}

.confirm-currency {
  display: block;
  font-size: 20px;
}

.confirm-subtitle {
  display: block;
  font-size: 10px;
}

@media (max-width: 12450px) {
  .br-spacer {
    display: block;
  }
}
@media (max-width: 959px) {
  .br-spacer {
    display: none;
  }
}

.uk-dropdown-spacing {
  padding: 5px 0;
}

.send-types-wrapper {
  margin: -5px;
  padding-bottom: 15px;
}
.send-types-frame {
  display: inline-block;
}
.send-types-tab {
  width: 400px;
  margin: 5px;
  border-radius: 6px;
  font-weight: 500;
}
.send-types-tab-active {
  border-color: transparent;
}

.icon-nano-logo {
  margin: 11px 6px;
  background-color: currentcolor;
  -webkit-mask-image: url('assets/img/nano-mark-simple.svg');
  mask-image: url('assets/img/nano-mark-simple.svg');
}