.form-select-source, .form-input-destination, .form-select-destination {
	max-width: 800px;
}

select:invalid {
  color: #888;
}

.form-amount {
	max-width: 450px;
}

.confirm-title {
  display: block;
  font-size: 24px;
}

.confirm-currency {
  display: block;
  font-size: 20px;
}

.confirm-subtitle {
  display: block;
  font-size: 10px;
}

.dropdown-nav-container {
    background: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,.08) !important;
}

.uk-nav-header {
    font-weight: 500;
}

@media (max-width: 12450px) {
  .br-spacer {
    display: block;
  }
}
@media (max-width: 959px) {
  .br-spacer {
    display: none;
  }
}

.uk-dropdown-spacing {
  padding: 5px 0;
}

.send-types-wrapper {
  margin: -5px;
  padding-bottom: 15px;
}
.send-types-frame {
  display: inline-block;
}
.send-types-tab {
  width: 400px;
  margin: 5px;
  border-radius: 6px;
  font-weight: 500;
}
.send-types-tab-active {
  border-color: transparent;
  color: #555 !important;
  background: #f4faff;
  box-shadow: none;
}
