.form-select-source, .form-input-destination, .form-select-destination {
	max-width: 800px;
}

.max-amt-button {
  text-transform: uppercase;
  font-size: 15px;
}

.form-amount {
	max-width: 450px;
}

.amount-raw-extra {
  margin: 12px 5px 12px 10px;
}
.amount-raw-extra .uk-icon {
  vertical-align: 1px;
  border: 1px solid #81809f;
  border-radius: 100%;
  padding: 6px;
  transition: border-color 100ms ease-in-out;
}
.amount-raw-extra .uk-icon:hover {
  border-color: #f0506e;
}

.block-amount-primary {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  line-height: 1;
  margin-top: 4px;
}

.block-amount-primary > .amount-integer {
  font-size: 32px;
  font-weight: 700;
}

.block-amount-primary > .amount-fractional,
.block-amount-primary > .currency-name {
  font-size: 21px;
}

.block-amount-primary > .currency-name {
  margin-left: 6px;
}

.block-balance .balance-amount-primary .amount-amount-sign,
.block-balance .balance-amount-primary .amount-integer,
.block-balance .balance-amount-primary .amount-fractional,
.block-balance .balance-amount-primary .currency-name {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.block-balance .balance-amount-primary .amount-sign {
  font-weight: 500;
  margin-right: 1px;
}

.block-balance .balance-amount-primary .amount-integer {
  font-weight: 700;
}

.block-balance .balance-amount-primary .amount-fractional {
  font-weight: 500;
}

.block-balance .balance-amount-primary .currency-name {
  font-weight: 400;
  margin-left: 5px;
}

.send-types-wrapper {
  margin: -5px;
  padding-bottom: 15px;
}
.send-types-frame {
  width: 100%;
  display: inline-block;
}
.send-types-tab {
  width: 400px;
  margin: 5px;
  border-radius: 6px;
  font-weight: 500;
}
.send-types-tab-active {
  border-color: transparent;
}
