.confirm-title {
  font-weight: bolder;
  display: block;
  font-size: 24px;
}

.confirm-currency {
  font-weight: bolder;
  display: block;
  font-size: 20px;
}

.confirm-subtitle {
  display: block;
  font-size: 10px;
}

.dropdown-nav-container {
    background: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,.08) !important;
}

.uk-nav-header {
    font-weight: 500;
}

@media (max-width: 12450px) {
  .br-spacer {
    display: block;
  }
}
@media (max-width: 959px) {
  .br-spacer {
    display: none;
  }
}

.uk-dropdown-spacing {
  padding: 5px 0;
}