.wallet-notification {
	font-size: 14px;
	padding: 12px 40px 12px 20px;
	border-radius: 30px;
	cursor: pointer;
}

.close-notification {
	top: 16px;
}

.notification-container {
	position: absolute;
	bottom: 0;
	width: 70%;
	left: 15%;
	z-index: 1050;
	pointer-events: none;
}

.notification-container .uk-alert {
	pointer-events: all;
}
