<div id="account-viewer" uk-modal>
  <div class="uk-modal-dialog uk-width-1-1">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Account Viewer</h2>
    </div>
    <div class="uk-modal-body">
      <div class="uk-margin-remove" uk-grid>
        <div class="uk-width-1-5 uk-margin-remove">Account ID:</div>
        <div class="uk-width-3-5 uk-margin-remove uk-text-truncate">{{ accountID }}</div>
        <div class="uk-width-1-5 uk-margin-remove">
          <button class="uk-button uk-button-small uk-button-secondary" title="Copy Address To Clipboard" ngxClipboard [cbContent]="accountID" (cbOnSuccess)="copied()" uk-tooltip><span uk-icon="icon: copy;"></span> Copy</button>
        </div>
      </div>
      <div class="uk-margin-remove" uk-grid>
        <div class="uk-width-1-5">Address Book:</div>
        <div class="uk-width-4-5">{{ addressBookEntry || 'No entry saved' }}</div>
      </div>
      <div class="uk-margin-remove" uk-grid>
        <div class="uk-width-1-5">Balance:</div>
        <div class="uk-width-4-5">{{ account.balance || 0 | rai: 'dynamic' }}</div>
      </div>
      <div class="uk-margin-remove" uk-grid>
        <div class="uk-width-1-5">Pending:</div>
        <div class="uk-width-4-5">{{ account.pending || 0 | rai: 'dynamic' }}</div>
      </div>
      <div class="uk-margin-remove" uk-grid>
        <div class="uk-width-1-5">Transactions:</div>
        <div class="uk-width-4-5">{{ account.block_count || 0 }}</div>
      </div>
      <div class="uk-margin-remove" uk-grid>
        <div class="uk-width-1-5">Last Modified:</div>
        <div class="uk-width-4-5">{{ account.modified_timestamp * 1000 | date }}</div>
      </div>
    </div>
    <div class="uk-modal-footer">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
