.body {
  background: #000;
}

.left-nav {
  font-size: 18px;
  font-weight: 500;
}

.left-nav .active {
  font-weight: 500;
  text-decoration: underline;
}

.left-nav>li.uk-parent li {
  font-weight: 300;
}

.wallet-bar a {
  color: #fff;
}

.footer {
  color: #d4d5d5;
  font-size: 12px;
}

.footer a {
  color: #fff;
}

.footer-link {
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0.5;
}
.footer-link:hover {
  opacity: 1;
}

.confirm-title {
  font-weight: bolder;
  display: block;
  font-size: 24px;
}

.confirm-currency {
  font-weight: bolder;
  display: block;
  font-size: 20px;
}

.confirm-subtitle {
  display: block;
  font-size: 10px;
}

.content-container {
  min-height: 100%;
  border-top: 1px solid rgb(220, 233, 249);
  z-index: 1;
}

@media (max-width: 12450px) {
  .content-container {
    padding-left: 15px;
    padding-right: 10px;
  }
}
@media (max-width: 639px) {
  .content-container {
    padding-left: 30px;
    padding-right: inherit;
    transition: transform 0.5s ease;
  }

  .content-container.nav-expanded {
    transform: translateX(350px);
  }
}

@media (max-width: 639px) {
  .nav-container {
    position: absolute;
    width: 350px;
    height: 100%;
    overflow: scroll;
  }
}
