<div uk-grid class="app uk-offcanvas-content" uk-height-viewport (mousemove)="updateIdleTime()" (keypress)="updateIdleTime()">

  <!-- Mobile Offcanvas Nav -->
  <div id="mobile-nav" uk-offcanvas="mode: reveal; overlay: false;">
    <div class="uk-offcanvas-bar" style="padding: 0; background: #2C3E50;">

      <div class="title-block">
        <div class="uk-margin-left" style="padding-bottom: 15px; color: #666;">
          <span class="title">NanoVault</span>

          <div style="display: inline-block; text-align: right;" class="uk-text-truncate">
            <span class="balance-text" style="display: inline-block; text-align: left; float: left; margin-top: 5px;">Balance </span>
            <span class="" style="margin-left: 11px; color: #62a25b; display: inline-block; font-size: 12px;" uk-tooltip title="Last Price: {{ price.price.lastPrice | fiat: settings.settings.displayCurrency }} / NANO">{{ wallet.balanceFiat | fiat: settings.settings.displayCurrency }}</span>
            <span class="balance" style="clear: left; text-align: left;">{{ wallet.balance | rai: settings.settings.displayDenomination }}</span>
          </div>

          <div style="display: inline-block; text-align: right;" class="uk-text-muted" *ngIf="wallet.pending.gt(0)">
            <span class="balance-text" style="display: inline-block; text-align: left; float: left; margin-top: 5px; color: #999;">Pending </span>
            <span style="margin-left: 11px; display: inline-block; font-size: 12px; color: #999;">{{ wallet.pendingFiat | fiat: settings.settings.displayCurrency }}</span>
            <span class="balance" style="clear: left; text-align: left; color: #999;">{{ wallet.pending | rai: settings.settings.displayDenomination }}</span>
          </div>
        </div>
      </div>

      <app-wallet-widget></app-wallet-widget>

      <ul class="uk-nav uk-nav-default uk-nav-parent-icon left-nav" uk-nav>
        <li routerLink="/accounts" routerLinkActive="uk-active"><a routerLink="/accounts" routerLinkActive="active" class="uk-margin-left " uk-toggle="target: #mobile-nav">Accounts</a></li>
        <!--<li><a routerLink="/history" routerLinkActive="active" class="uk-margin-left " uk-toggle="target: #mobile-nav">History</a></li>-->
        <li><a routerLink="/send" routerLinkActive="active" class="uk-margin-left " uk-toggle="target: #mobile-nav">Send</a></li>
        <li *ngIf="wallet.pending.gt(0)">
          <div uk-grid>
            <div class="uk-width-3-4">
              <a routerLink="/receive" routerLinkActive="active" class="uk-margin-left " uk-toggle="target: #mobile-nav">Receive</a>
            </div>
            <div class="uk-width-1-4 uk-text-center">
              <span *ngIf="wallet.pending.gt(0)" class="uk-badge uk-text-top" style="font-size: 16px; padding-bottom: 2px;">New</span>
            </div>
          </div>
        </li>
        <li><a routerLink="/address-book" routerLinkActive="active" class="uk-margin-left " uk-toggle="target: #mobile-nav">Address Book</a></li>
        <li class="uk-parent">
          <a href="#" class="uk-margin-left">Settings</a>
          <ul class="uk-nav-sub">
            <li><a routerLink="/representatives" routerLinkActive="active" class="uk-margin-left">Representatives</a></li>
            <li><a routerLink="/configure-app" routerLinkActive="active" class="uk-margin-left " uk-toggle="target: #mobile-nav">App Settings</a></li>
            <li><a routerLink="/manage-wallet" routerLinkActive="active" class="uk-margin-left " uk-toggle="target: #mobile-nav">Manage Wallet</a></li>
            <li><a routerLink="/configure-wallet" routerLinkActive="active" class="uk-margin-left " uk-toggle="target: #mobile-nav">Configure New Wallet</a></li>
          </ul>
        </li>
      </ul>

      <div class="footer" uk-grid>
        <div class="uk-width-1-1 uk-text-center" style="padding-top: 15px;">
          <a routerLink="/" uk-icon="icon: home" uk-tooltip title="Return to Homepage" class="footer-link"></a>
          <a href="https://github.com/cronoh/nanovault" uk-icon="icon: github-alt" uk-tooltip title="View our GitHub" class="footer-link" target="_blank"></a>
          <a href="https://twitter.com/NanoVault" uk-icon="icon: twitter" uk-tooltip title="Chat with us on Twitter" class="footer-link" target="_blank"></a>
          <a href="https://discord.gg/kCeAuJM" uk-icon="icon: users" uk-tooltip title="Join our community on Discord" class="footer-link" target="_blank"></a>
        </div>
      </div>

    </div>
  </div>
  <!-- End Mobile OffCanvas Nav -->


  <div class="uk-width-1-1">

    <!-- Mobile top bar -->
    <div uk-grid class=" uk-hidden@s uk-background-secondary" style="color: #FFF;">
      <div class="uk-width-1-2">
        <div class="uk-margin-small-top uk-margin-small-bottom uk-margin-small-left uk-text-middle" uk-toggle="target: #mobile-nav;" style="cursor: pointer;">
          <span uk-icon="icon: menu;" style=" margin-right: 10px; vertical-align: text-bottom;"></span>
          <span style="font-size: 22px;" >NanoVault</span>
        </div>
      </div>
      <div class="uk-width-1-2 " style="text-align: right;">
      </div>
    </div>

    <!-- Main content container-->
    <div uk-grid uk-height-viewport="expand: false" style="margin-top: 0;">
      <div class="uk-width-1-4 uk-visible@s" style="background: #2C3E50">
        <div class="title-block">
          <div class="uk-margin-left" style="padding-bottom: 15px;">
            <a routerLink="/" class="title">NanoVault</a>
            <div style="display: inline-block; text-align: right;" class="uk-text-truncate">

              <span class="balance-text" style="display: inline-block; text-align: left; float: left; margin-top: 5px;">Balance </span>
              <span class="" style="margin-left: 11px; color: #62a25b; display: inline-block; font-size: 12px;" uk-tooltip title="Last Price: {{ price.price.lastPrice | fiat: settings.settings.displayCurrency }} / NANO">{{ wallet.balanceFiat | fiat: settings.settings.displayCurrency }}</span>
              <span class="balance" style="clear: left; text-align: left;">{{ wallet.balance | rai: settings.settings.displayDenomination }}</span>
            </div>

            <div *ngIf="wallet.pending.gt(0)">
              <div style="display: inline-block; text-align: right;" class="uk-text-muted">
                <span class="balance-text" style="display: inline-block; text-align: left; float: left; margin-top: 5px;">Pending </span>
                <span style="margin-left: 11px; display: inline-block; font-size: 12px;">{{ wallet.pendingFiat | fiat: settings.settings.displayCurrency }}</span>
                <span class="balance" style="clear: left; text-align: left;">{{ wallet.pending | rai: settings.settings.displayDenomination }}</span>
              </div>
            </div>

          </div>

        </div>

        <app-wallet-widget></app-wallet-widget>

        <ul class="uk-nav uk-nav-default uk-nav-parent-icon left-nav" uk-nav>
          <li routerLink="/accounts" routerLinkActive="uk-active"><a routerLink="/accounts" routerLinkActive="active" class="uk-margin-left">Accounts</a></li>
          <!--<li><a routerLink="/history" routerLinkActive="active" class="uk-margin-left">History</a></li>-->
          <li><a routerLink="/send" routerLinkActive="active" class="uk-margin-left">Send</a></li>
          <li *ngIf="wallet.pending.gt(0)">
            <div uk-grid>
              <div class="uk-width-3-4">
                <a routerLink="/receive" routerLinkActive="active" class="uk-margin-left">Receive</a>
              </div>
              <div class="uk-width-1-4 uk-text-center">
                <span *ngIf="wallet.pending.gt(0)" class="uk-badge uk-text-top uk-align-center" style="font-size: 16px; padding-bottom: 2px;">New</span>
              </div>
            </div>
          </li>
          <li><a routerLink="/address-book" routerLinkActive="active" class="uk-margin-left">Address Book</a></li>
          <li class="uk-parent">
            <a href="#" class="uk-margin-left">Settings</a>
            <ul class="uk-nav-sub">
              <li><a routerLink="/representatives" routerLinkActive="active" class="uk-margin-left">Representatives</a></li>
              <li><a routerLink="/configure-app" routerLinkActive="active" class="uk-margin-left">App Settings</a></li>
              <li><a routerLink="/manage-wallet" routerLinkActive="active" class="uk-margin-left">Manage Wallet</a></li>
              <li><a routerLink="/configure-wallet" routerLinkActive="active" class="uk-margin-left">Configure New Wallet</a></li>
            </ul>
          </li>
        </ul>

        <div class="footer" uk-grid>
          <div class="uk-width-1-1 uk-text-center" style="padding-top: 15px;">
            <a routerLink="/" uk-icon="icon: home" uk-tooltip title="Return to Homepage" class="footer-link"></a>
            <a href="https://github.com/cronoh/nanovault" uk-icon="icon: github-alt" uk-tooltip title="View our GitHub" class="footer-link" target="_blank"></a>
            <a href="https://twitter.com/NanoVault" uk-icon="icon: twitter" uk-tooltip title="Chat with us on Twitter" class="footer-link" target="_blank"></a>
            <a href="https://discord.gg/kCeAuJM" uk-icon="icon: users" uk-tooltip title="Join our community on Discord" class="footer-link" target="_blank"></a>
          </div>
        </div>

      </div>
      <div class="uk-width-expand uk-width-1-1 content-container" style="background: #f0f1f1;" [style.height]="windowHeight + 'px'">
        <div class="uk-panel uk-panel-scrollable uk-height-1-1" style="border: 0;">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>

<app-notifications></app-notifications>



