.new-wallet-seed {
  word-wrap: anywhere;
}

pre.mnemonic {
  white-space: pre-wrap;
}

pre.mnemonic:before {
  counter-reset: listing;
}

pre.mnemonic span.mnemonic-word {
  counter-increment: listing;
}

pre.mnemonic span.mnemonic-word::before {
  content: counter(listing) ". ";
  display: inline-block;
  width: 8em;         /* doesn't work */
  padding-left: auto; /* doesn't work */
  margin-left: auto;  /* doesn't work */
  text-align: right;  /* doesn't work */
}

.mne-num {
  color: #CCC;
  display: inline-block;
  width: 13px;
  font-size: 10px;
  text-align: left;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.mne-box {
  max-width: 410px;
}

.mne-cont {
  display: block;
}

.mne-word {
  display: inline-block;
  min-width: 100px;
}

.landing-container > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
}

.landing-container > div > .wallet-option {
  display: flex;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  padding: 15px 20px;
  margin: 20px;
  flex-direction: column;
  text-align: left;
  cursor: pointer;
  transition: background 100ms ease-in-out;
}

.landing-container > div > .wallet-option:hover > .icon {
  transform: scale(1.1);
}
.landing-container > div > .wallet-option:hover > .icon > svg {
  color: #FFF;
}
.landing-container > div > .wallet-option:hover > .icon > .mnemonic > .mnemonic-row {
  border-bottom-color: rgba(255, 255, 255, 0.4);
}

.landing-container > div > .wallet-option > .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 155px;
  height: 120px;
  margin-bottom: 10px;
  transition: transform 200ms ease-in-out;
}

.landing-container > div > .wallet-option > .icon > .seed {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  margin: 0;
  line-height: 1.2;
  font-size: 24px;
  font-weight: 300;
}

.landing-container > div > .wallet-option > .icon > .more-options {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  margin: 0;
  line-height: 1.2;
  font-size: 36px;
  font-weight: 300;
}

.landing-container > div > .wallet-option > .icon > .mnemonic > .mnemonic-row {
  min-width: 110px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 7px;
  margin-left: -10px;
  padding-bottom: 1px;
}
.landing-container > div > .wallet-option > .icon > .mnemonic > .mnemonic-row > .number {
  width: 10px;
  text-align: right;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  margin: 0;
  margin-bottom: 2px;
  margin-right: 5px;
  line-height: 1.2;
  font-size: 11px;
  font-weight: 300;
}
.landing-container > div > .wallet-option > .icon > .mnemonic > .mnemonic-row > .word {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  margin: 0;
  line-height: 1.2;
  font-size: 16px;
  font-weight: 300;
}

.landing-container > div > .wallet-option > .icon > svg * {
  stroke: currentcolor;
}

.landing-container > div > .wallet-option > h2 {
  margin: 0;
  font-weight: 400;
  line-height: 1.2;
  font-size: 28px;
  margin-bottom: 15px;
}
.landing-container > div > .wallet-option > h2.long-header {
  margin-top: 3px;
  font-size: 17px;
  font-weight: 500;
}

.landing-container > div > .wallet-option > p {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  margin: 0;
  line-height: 1.2;
  font-size: 17px;
}

.import-panel-navigation {
  display: inline-flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  margin: 10px 20px 20px 20px;
}
.import-panel-navigation .label {
  margin-top: -2px;
  transition: border-color 100ms ease-in-out;
  margin-left: 5px;
}
