<h2>Configure Wallet</h2>
<p>Use the options below to import an existing wallet or create a new one.</p>

<div *ngIf="isConfigured() && (activePanel != 3 && activePanel != 4 && activePanel != 5)" class="uk-alert uk-alert-danger">
  <b>You already have a wallet configured</b><br>
  Before going any further, be 100% certain you have backed up the seed to your current wallet!<br>
  Without it, <b>any funds you have will become completely unrecoverable!</b>
</div>

<div uk-grid *ngIf="activePanel == 0 || activePanel == 1">
  <div class="uk-width-1-1">
    <div class="uk-button-group uk-width-1-1">
      <button (click)="setPanel(0)" class="uk-button uk-width-1-2" [ngClass]="{ 'uk-button-primary': activePanel == 0, 'uk-button-secondary': activePanel != 0 }">Create New Wallet</button>
      <button (click)="setPanel(1)" class="uk-button uk-width-1-2" [ngClass]="{ 'uk-button-primary': activePanel == 1, 'uk-button-secondary': activePanel != 1 }">Import Existing Wallet</button>
    </div>
  </div>
</div>

<div class="uk-card uk-card-default" *ngIf="activePanel == 0">
  <div class="uk-card-body">
    <p>
      When you create a new wallet, a new Nano seed will be generated which can be used to create brand new accounts
      on the Nano network.  Your Nano seed is the master key to all of your accounts and any money inside of them!
    </p>
    <div class="uk-alert-primary" uk-alert>
      <p>Make sure you back up your seed, write it down, and keep it incredibly safe!  There is NO way to recover it after
        creation, and all funds inside WILL be lost without it!  You have been warned!</p>
    </div>
  </div>
  <div class="uk-card-footer uk-text-right">
    <button class="uk-button uk-button-primary" (click)="createNewWallet()">Create Wallet</button>
  </div>
</div>

<div class="uk-card uk-card-default" *ngIf="activePanel == 1">
  <div class="uk-card-body">
    <p>
      If you already have a Nano wallet, you can import it below.  When you import a wallet, it replaces the previous one in the GUI but none of your existing 
      accounts are affected since the wallet can be restored simply by importing it again. The seed is not stored anywhere besides in your local client so please make sure you have it stored elsewhere.  Use the drop
      down below to select which type of import you want to use.
    </p>
    <div uk-grid>
      <div class="uk-width-1-1">
        <div class="uk-form-horizontal">
          <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">Select Import Type</label>
            <div class="uk-form-controls">
              <select class="uk-select" [(ngModel)]="selectedImportOption" id="form-horizontal-select" (change)="onMethodChange($event.target.value)">
                <option *ngFor="let option of importOptions" [value]="option.value">{{ option.name }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="uk-divider-icon" style="margin-top: 10px;">

    <div uk-grid *ngIf="selectedImportOption === 'file'">
      <div class="uk-width-1-1">
        <p>
          If you have saved your wallet to a file using Nault before, use the button below to import it.
        </p>
      </div>
    </div>
    <div uk-grid *ngIf="selectedImportOption === 'seed'" class="uk-margin-top">
      <div class="uk-width-1-1">
        <p>
          Enter your 64 character seed from any Nano wallet to import it below.
        </p>
        <input type="text" class="uk-input" (keyup.enter)="importExistingWallet()" [(ngModel)]="importSeedModel" placeholder="Your Nano Backup Seed">
      </div>
    </div>
    <div uk-grid *ngIf="selectedImportOption === 'mnemonic'" class="uk-margin-top">
      <div class="uk-width-1-1">
        <p>
          Enter your wallet mnemonic phrase generated from any Nano wallet to import it below.
        </p>
        <textarea class="uk-textarea" rows="3" (keyup.enter)="importExistingWallet()" [(ngModel)]="importSeedMnemonicModel" placeholder="Your Nano Backup Mnemonic Phrase"></textarea>
      </div>
    </div>
    <div uk-grid *ngIf="selectedImportOption === 'ledger'" class="uk-margin-top">
      <div class="uk-width-1-1">
        <p>
          Make sure you have the Nano app installed, then connect your ledger device via USB (Chrome/Opera only). <a href="https://link.medium.com/RbsZvsEkG7" target="_blank" rel="noopener">Learn More</a><br>
          <br>
        </p>
        <div *ngIf="ledger.status === ledgerStatus.NOT_CONNECTED" class="uk-alert uk-alert-warning">
          <b>Ledger Device Not Connected</b><br>
          Connect your ledger device via USB and make sure you have the Nano app installed, then press the button below to retry
        </div>
        <div *ngIf="ledger.status === ledgerStatus.LOCKED" class="uk-alert uk-alert-warning">
          <b>Ledger Device Locked</b><br>
          Unlock your Ledger device, then press the button below to retry
        </div>
        <div *ngIf="ledger.status === ledgerStatus.READY" class="uk-alert uk-alert-success">
          <b>Ledger Device Ready</b><br>
          Press the import button below to use your ledger wallet
        </div>
      </div>
    </div>
    <div uk-grid *ngIf="selectedImportOption === 'privateKey'" class="uk-margin-top">
      <div class="uk-width-1-1">
        <p>
          Enter your Nano private key below. These are not to be confused with Nano seeds, which are more common, and produce many private keys.
        </p>
        <input type="text" class="uk-input" (keyup.enter)="importSingleKeyWallet()" [(ngModel)]="importPrivateKeyModel" placeholder="Your Nano Private Key">
      </div>
    </div>
    <div uk-grid *ngIf="selectedImportOption === 'expandedKey'" class="uk-margin-top">
      <div class="uk-width-1-1">
        <p>
          Enter your expanded private key below. These are rare, and are usually generated from multi-party cryptography magic.
        </p>
        <input type="text" class="uk-input" (keyup.enter)="importSingleKeyWallet()" [(ngModel)]="importExpandedKeyModel" placeholder="Your Nano Expanded Private Key">
      </div>
    </div>
  </div>
  <div class="uk-card-footer uk-text-right">
    <div *ngIf="selectedImportOption === 'file'" class="js-upload" uk-form-custom style="display: inline-block;">
      <input type="file" id="import-from-file" (change)="importFromFile($event.target.files)" multiple>
      <button class="uk-button uk-button-primary" type="button" tabindex="-1">Import From File</button>
    </div>
    <button *ngIf="selectedImportOption === 'mnemonic'" class="uk-button uk-button-primary" (click)="importExistingWallet()">Import From Mnemonic Phrase</button>
    <button *ngIf="selectedImportOption === 'seed'" class="uk-button uk-button-primary" (click)="importExistingWallet()">Import From Seed</button>
    <button *ngIf="selectedImportOption === 'ledger' && ledger.status === ledgerStatus.READY" class="uk-button uk-button-primary" (click)="importLedgerWallet()">Import From Ledger</button>
    <button *ngIf="selectedImportOption === 'ledger' && ledger.status !== ledgerStatus.READY" class="uk-button uk-button-primary" (click)="importLedgerWallet(true)">Refresh Ledger Status</button>
    <button *ngIf="selectedImportOption === 'privateKey'" class="uk-button uk-button-primary" (click)="importSingleKeyWallet()">Import From Private Key</button>
    <button *ngIf="selectedImportOption === 'expandedKey'" class="uk-button uk-button-primary" (click)="importSingleKeyWallet()">Import From Expanded Private Key</button>
  </div>
</div>



<div class="uk-card uk-card-default" *ngIf="activePanel == 3">
  <div class="uk-card-header">
    <h3 class="uk-card-title">Wallet Created!</h3>
  </div>
  <div class="uk-card-body">
    <p>
      Your new Nano wallet has been created!  Below is the seed and mnemonic phrase for your wallet, you can use whichever you prefer.
    </p>
    <div class="uk-alert uk-alert-primary">
      Make sure to write down your mnemonic phrase/seed or save it somewhere safe, and <strong>never share it with anyone!</strong><br>
      It is the master key to all of your accounts, and the only way to recover your funds in an emergency.
    </div>

    <div uk-grid>
      <div class="uk-width-1-4">Nano Seed</div>
      <div class="uk-width-3-4 uk-text-truncate">
        {{ newWalletSeed }}<br>
        <a title="Copy Seed To Clipboard" ngxClipboard [cbContent]="newWalletSeed" (cbOnSuccess)="copied()" uk-tooltip>Copy seed to clipboard</a>
      </div>
    </div>

    <hr class="uk-divider-icon">

    <div uk-grid>
      <div class="uk-width-1-4@m">
        Mnemonic Phrase<br>
        <span class="uk-text-small uk-text-muted">(Uses <a href="https://github.com/bitcoin/bips/blob/master/bip-0039.mediawiki" class="uk-link-text" target="_blank" rel="noopener">BIP39 Standard</a>)</span>
      </div>
      <div class="uk-width-3-4@m">
        <pre class="mne-box"><span *ngFor="let line of newWalletMnemonicLines; let l = index" class="mne-cont"><span *ngFor="let word of line; let i = index" class="mne-word"><span class="mne-num">{{ (l * 4) + i + 1 }}</span> {{ word }}</span></span></pre>
        <a title="Copy Mnemonic To Clipboard" ngxClipboard [cbContent]="newWalletMnemonic" (cbOnSuccess)="copied()" uk-tooltip>Copy mnemonic to clipboard</a>
      </div>
    </div>
  </div>
  <div class="uk-card-footer">
    <button class="uk-button uk-button-danger" (click)="confirmNewSeed()">I've Saved My Seed/Mnemonic</button>
  </div>
</div>

<div class="uk-card uk-card-default" *ngIf="activePanel == 4">
  <div class="uk-card-header">
    <h3 class="uk-card-title">Set Wallet Password</h3>
  </div>
  <div class="uk-card-body">
    <p>
      The last step is to set a new password for your wallet.  Your password is used to encrypt the sensitive parts of
      your wallet when it is locked, which disables sending, receiving, creating accounts, and other operations.
    </p>

    <p>
      Set your wallet password below:
    </p>
    <div uk-grid>
      <div class="uk-width-1-2@m">
        <input type="password" class="uk-input" [(ngModel)]="walletPasswordModel" placeholder="New Wallet Password">
      </div>
      <div class="uk-width-1-2@m">
        <input type="password" class="uk-input" (keyup.enter)="saveWalletPassword()" [(ngModel)]="walletPasswordConfirmModel" placeholder="Confirm Wallet Password">
      </div>
    </div>
  </div>
  <div class="uk-card-footer uk-text-right">
    <button class="uk-button uk-button-primary" (click)="saveWalletPassword()">Set Wallet Password</button>
  </div>
</div>

<div class="uk-card uk-card-default" *ngIf="activePanel == 5">
  <div class="uk-card-header">
    <h3 class="uk-card-title">Wallet Configured!</h3>
  </div>
  <div class="uk-card-body">
    <p>
      Your wallet has been configured and you are ready to send and receive Nano!
    </p>
  </div>
  <div class="uk-card-footer uk-text-right">
    <button routerLink="/accounts" class="uk-button uk-button-primary">View Accounts</button>
  </div>
</div>

<div *ngIf="(activePanel == 4 || activePanel == 5) && !walletService.isLedgerWallet()" class="uk-alert-primary" uk-alert>
  <p><b>ProTip:</b> If you lose your password, you can always restore your wallet using your seed.</p>
</div>
<div *ngIf="activePanel == 5 && walletService.isLedgerWallet()" class="uk-alert-primary" uk-alert>
  <p><b>ProTip:</b> Press the Ledger status bar on the left side to reload your Ledger when connecting or disconnecting it.</p>
</div>
