<div class="uk-animation-slide-left-small" uk-grid>
  <div class="uk-width-1-1">
    
      <h2 class="uk-heading-divider">Receive Nano</h2>

      <div class="uk-width-1-1 nlt-page-intro">
        <p>
          Select an account to show the deposit QR.
        </p>
        <p>
          Funds should be received automatically if the wallet is unlocked. If not, you can try find them and receive manually.
        </p>
        <p>
          You can also find full transaction history under <a routerLink="/accounts" routerLinkActive="active">Accounts</a>.
        </p>
      </div>

    <div uk-grid>
      <div class="uk-width-3-4@s">
        <select class="uk-select" [(ngModel)]="pendingAccountModel" (change)="changeQRAccount(pendingAccountModel)">
          <option [value]="0">All Accounts</option>
          <option *ngFor="let account of accounts" [value]="account.id">{{account.addressBookName ? account.addressBookName + ' - ' : '#' + account.index + ' - ' }} {{ account.id | squeeze }} ({{ account.balance | rai: settings.settings.displayDenomination }})</option>
        </select>
      </div>
      <div class="uk-width-auto@s">
        <button class="uk-button uk-button-primary uk-width-1-1" (click)="getPending()"> Find Incoming</button>
      </div>
              
      <div *ngIf="qrCodeImage" class="uk-width-3-4@s narrow-div">
        <input [(ngModel)]="receiveAmount" class="uk-input uk-margin-small-bottom" type="text" (ngModelChange)="changeQRAmount(receiveAmount)" title="Amount to be included in the QR and read by the sending wallet." placeholder="Optional Nano amount">
      </div>
      <div *ngIf="qrCodeImage" class="uk-width-1-1@s narrow-div">
        <img [src]="qrCodeImage" alt="QR code"><br>
        <div class="uk-flex">
          <app-nano-account-id [accountID]="pendingAccountModel" class="uk-width-auto" style="max-width: 90%;"></app-nano-account-id>
          <a class="span-icon" ngxClipboard [cbContent]="pendingAccountModel" (cbOnSuccess)="copied()" uk-icon="icon: copy" title="Copy Account Address" uk-tooltip></a>
        </div>
      </div>
      <div class="uk-width-1-1">
        <div class="uk-card uk-card-default">
          <table class="uk-table uk-table-striped uk-table-small">
            <thead>
            <tr>
              <th scope="col">Account</th>
              <th scope="col">Sender</th>
              <th scope="col">Amount</th>
              <th scope="col">Options</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let block of pendingBlocks">
              <td *ngIf="block.account == pendingAccountModel || pendingAccountModel === '0'" class="uk-visible-toggle">
                <div uk-grid>
                  <div class="uk-width-auto uk-text-truncate">
                    <a [routerLink]="'/account/' + block.account" class="uk-link-text" title="View Account Details" uk-tooltip>
                      <app-nano-account-id [accountID]="block.account" middle="off"></app-nano-account-id>
                    </a>
                  </div>
                  <div class="uk-width-auto" style="padding-left: 10px;">
                    <ul class="uk-iconnav">
                      <li><a ngxClipboard [cbContent]="block.account" (cbOnSuccess)="copied()" uk-icon="icon: copy" title="Copy Account Address" uk-tooltip></a></li>
                    </ul>
                  </div>
                </div>
              </td>
              <td *ngIf="block.account == pendingAccountModel || pendingAccountModel === '0'" class="uk-visible-toggle">
                <div uk-grid>
                  <div class="uk-width-auto uk-text-truncate" style="max-width: calc(100% - 35px);">
                    <a [routerLink]="'/account/' + block.source" class="uk-link-text" title="View Account Details" uk-tooltip>
                      <app-nano-account-id [accountID]="block.source" middle="off"></app-nano-account-id>
                    </a>
                  </div>
                  <div class="uk-width-auto" style="padding-left: 10px;">
                    <ul class="uk-iconnav">
                      <li><a ngxClipboard [cbContent]="block.source" (cbOnSuccess)="copied()" uk-icon="icon: copy" title="Copy Account Address" uk-tooltip></a></li>
                    </ul>
                  </div>
                </div>
              </td>
              <td *ngIf="block.account == pendingAccountModel || pendingAccountModel === '0'">
                {{ block.amount | rai: settings.settings.displayDenomination }}
                <div *ngIf="toBigNumber(block.amount).mod(nano).gt(0)">
                  <span *ngIf="toBigNumber(block.amount); let rawAmount" style="display: block; font-size: 12px;" class="uk-text-muted">+{{ rawAmount.mod(nano).toString(10) }} raw</span>
                </div>
              </td>
              <td *ngIf="block.account == pendingAccountModel || pendingAccountModel === '0'" class="uk-text-nowrap">
                <button *ngIf="!block.loading" (click)="receivePending(block)" class="uk-button uk-button-secondary uk-button-small">Receive</button>
                <button *ngIf="block.loading" class="uk-button uk-button-secondary uk-disabled uk-button-small"><span class="uk-margin-right" uk-spinner></span> Loading</button>
              </td>
            </tr>
            <tr *ngIf="!loadingIncomingTxList && !pendingBlocks.length && ((pendingAccountModel === '0' && pendingBelowThreshold.length > 0 && !pendingBelowThreshold[0].gt(0)) || (pendingAccountModel !== '0' && walletAccount && walletAccount.pendingBelowThreshold.length > 0 && !walletAccount.pendingBelowThreshold[0].gt(0)))">
              <td colspan="4" style="text-align: center;">No incoming transactions</td>
            </tr>
            <tr *ngIf="pendingAccountModel === '0' && pendingBelowThreshold.length > 0 && pendingBelowThreshold[0].gt(0)">
              <td colspan="4" style="text-align: center;">Some transactions ({{pendingBelowThreshold[0] | rai: settings.settings.displayDenomination}} total) were hidden due to a Minimum Receive Amount of {{minAmount | rai: settings.settings.displayDenomination}} <a routerLink="/configure-app" routerLinkActive="active">(configure)</a></td>
            </tr>
            <tr *ngIf="pendingAccountModel !== '0' && walletAccount && walletAccount.pendingBelowThreshold.length > 0 && walletAccount.pendingBelowThreshold[0].gt(0)">
              <td colspan="4" style="text-align: center;">Some transactions ({{walletAccount.pendingBelowThreshold[0] | rai: settings.settings.displayDenomination}} total) were hidden due to a Minimum Receive Amount of {{minAmount | rai: settings.settings.displayDenomination}} <a routerLink="/configure-app" routerLinkActive="active">(configure)</a></td>
            </tr>
            <tr *ngIf="loadingIncomingTxList">
              <td colspan="4" style="text-align: center;"><span class="uk-margin-right" uk-spinner></span> Loading incoming transactions...</td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>
</div>

