.label-block {
    margin-left: 10px;
    margin-bottom: 10px;
    width: unset;
}

.label-block > .label-optional {
    margin-left: 6px;
    font-size: 12px;
}

.nano-address-actions {
    margin-top: 2px;
}

.narrow-div {
    margin-top: 20px;
}

.span-icon {
    margin-left: 10px;
    flex-shrink: 0;
}

.form-account {
	max-width: 800px;
}

.form-amount {
	max-width: 450px;
}

.receive-columns {
    display: flex;
    flex-direction: column;
}
.qr-column {
    margin-top: 15px;
}
@media (min-width: 640px) {
    .receive-columns {
        flex-direction: row-reverse;
    }
    .qr-column {
        width: 0;
        max-width: 360px;
        margin-right: 20px;
        margin-top: 0;
    }
}

.qr-code {
    display: block;
    border-radius: 20px;
    max-width: 290px;
    max-height: 290px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
}
.qr-address {
    max-width: 280px;
    margin: 25px auto 0 auto;
}
.copy-address-button {
    margin-top: 25px;
}
@media (max-width: 959px) {
    .qr-code {
        max-width: 250px;
        max-height: 250px;
    }
    .qr-address {
        max-width: 280px;
    }
}
.qr-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #FFF;
    padding: 20px;
}

.qr-confirmation {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150%;
    height: 150%;
    margin: -25%;
    background: #16A670;
    transition: all 0.3s cubic-bezier(0.6, 0, 1, 1);
    transform: scale(0);
    border-radius: 50%;
    color: #FFF;
    padding: 30%;
    box-sizing: border-box;
}
.qr-confirmation.in {
    transform: scale(1);
}
.qr-confirmation.in > :first-child {
    animation: slidedown 0.7s;
}
.qr-confirmation.in > :last-child {
    animation: slideup 1.2s;
}
.qr-confirmation.out {
    animation: fadeout 1s;
}

@keyframes slidedown {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    50% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideup {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    50% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    98% {
        transform: scale(1);
        opacity: 0;
    }
    99% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(0);
        opacity: 1;
    }
}