<div class="uk-animation-slide-left-small" uk-grid>
  <div class="uk-width-1-1">
    <div uk-grid>
      <div class="uk-width-1-1">
        <h2>Receive XRB</h2>
      </div>
    </div>

    <div uk-grid>
      <div class="uk-width-1-1">
        <p>
          When someone sends you XRB, you are also in charge of performing a receive block to actually receive the funds.<br>
          Select the account you are expecting to receive from below to search for pending transactions.
        </p>
      </div>
    </div>

    <div uk-grid>
      <div class="uk-width-3-4@s">
        <select class="uk-select" [(ngModel)]="pendingAccountModel">
          <option [value]="0">All Accounts</option>
          <option *ngFor="let account of accounts" [value]="account.id">{{ account.id }}</option>
        </select>
      </div>
      <div class="uk-width-1-4@s">
        <button class="uk-button uk-button-primary uk-width-1-1" (click)="getPending(pendingAccountModel)"> Find Pending</button>
      </div>
      <div class="uk-width-1-1">
        <div class="uk-card uk-card-default">
          <table class="uk-table uk-table-striped uk-table-small">
            <thead>
            <tr>
              <th>Account</th>
              <th>Sender</th>
              <th>Amount</th>
              <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let block of pendingBlocks">
              <td class="uk-visible-toggle">
                <div uk-grid>
                  <div class="uk-width-expand uk-text-truncate">
                    {{ block.account }}
                  </div>
                  <div class="uk-width-auto" style="padding-left: 10px;">
                    <ul class="uk-hidden-hover uk-iconnav">
                      <li><a ngxClipboard [cbContent]="block.account" (cbOnSuccess)="copied()" uk-icon="icon: copy" title="Copy Account Address" uk-tooltip></a></li>
                      <li><a (click)="modal.showAccount(block.account)" uk-icon="icon: info" title="View Account Details" uk-tooltip></a></li>
                    </ul>
                  </div>
                </div>
              </td>
              <td class="uk-visible-toggle">
                <div uk-grid>
                  <div class="uk-width-expand uk-text-truncate">
                    {{ block.source }}
                  </div>
                  <div class="uk-width-auto" style="padding-left: 10px;">
                    <ul class="uk-hidden-hover uk-iconnav">
                      <li><a ngxClipboard [cbContent]="block.source" (cbOnSuccess)="copied()" uk-icon="icon: copy" title="Copy Account Address" uk-tooltip></a></li>
                      <li><a [routerLink]="'/account/' + account.id" uk-icon="icon: info" title="View Account Details" uk-tooltip></a></li>
                    </ul>
                  </div>
                </div>
              </td>
              <td>{{ block.amount | rai: settings.settings.displayDenomination }}</td>
              <td class="uk-text-nowrap">
                <button *ngIf="!block.loading" (click)="receivePending(block)" class="uk-button uk-button-secondary uk-button-small">Receive</button>
                <button *ngIf="block.loading" class="uk-button uk-button-secondary uk-disabled uk-button-small"><span class="uk-margin-right" uk-spinner></span> Loading</button>
              </td>
            </tr>
            <tr *ngIf="!pendingBlocks.length">
              <td colspan="4" style="text-align: center;">No pending transactions</td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>
</div>

