<div class="uk-animation-slide-left-small" uk-grid>
  <div class="uk-width-1-1">
    
    <h2 class="uk-heading-divider">Receive Nano</h2>

    <div class="uk-card uk-card-default uk-margin">
      <div class="uk-card-body">
        <div class="uk-form-horizontal receive-columns">

          <div class="uk-flex-1">
            <div class="uk-margin">
              <label for="form-horizontal-select" class="uk-form-label label-block">Account</label>
              <div class="form-account">
                <select id="form-horizontal-select" class="uk-select" [(ngModel)]="pendingAccountModel" (change)="changeQRAccount(pendingAccountModel)">
                  <option [value]="0">All Accounts</option>
                  <option *ngFor="let account of accounts" [value]="account.id">{{account.addressBookName ? account.addressBookName + ' - ' : '#' + account.index + ' - ' }} {{ account.id | squeeze }} ({{ account.balance | rai: 'mnano,true' | amountsplit: 0 }}{{ account.balance | rai: 'mnano,true' | amountsplit: 1 }} NANO)</option>
                </select>
              </div>
            </div>
  
            <div class="uk-margin">
              <label for="form-horizontal-amount" class="uk-form-label label-block">Amount <span class="uk-text-muted">(optional)</span></label>
              <div class="form-amount">
                <div class="uk-width-1-1 uk-inline">
                  <label class="uk-form-icon uk-link-reset uk-link-muted icon-nano-logo" for="form-horizontal-amount"></label>
                  <input [(ngModel)]="amountNano" [ngClass]="{ 'uk-form-danger': !validNano }" [attr.disabled]="pendingAccountModel == '0' || null" autocomplete="off" class="uk-input" id="form-horizontal-amount" (keyup)="nanoAmountChange()" (change)="nanoAmountChange()" style="padding-left: 52px !important;" type="number" step="any" placeholder="Amount of NANO to receive" maxlength="40">
                </div>
                <div style="margin-top: 10px;" *ngIf="settings.settings.displayCurrency">
                  <div class="uk-width-1-1 uk-inline">
                    <a class="uk-form-icon uk-link-reset uk-link-muted fiat-currency-ticker" uk-tooltip title="Last Price: {{ price.price.lastPrice | fiat: settings.settings.displayCurrency }} / NANO">{{ settings.settings.displayCurrency | currencySymbol }}</a>
                    <input [(ngModel)]="amountFiat" [ngClass]="{ 'uk-form-danger': !validFiat }" [attr.disabled]="pendingAccountModel == '0' || null" autocomplete="off" (keyup)="fiatAmountChange()" (change)="fiatAmountChange()" style="padding-left: 52px !important;" class="uk-input" id="form-horizontal-text-fiat" type="number" step="any" placeholder="Amount of {{ settings.settings.displayCurrency }} to receive">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-flex-1 uk-margin qr-column">
            <div *ngIf="qrCodeImage; else placeholder">
              <div class="qr-code">
                <div class="qr-confirmation" [class]="qrSuccessClass">
                  <div uk-icon="icon: check; ratio: 5"></div>
                  <span class="uk-text-large uk-text-center">Nano Received</span>
                </div>
                <img [src]="qrCodeImage" alt="QR code">
              </div>
              <br>
              <div class="uk-flex uk-flex-center uk-flex-middle uk-text-center">
                <app-nano-account-id [accountID]="pendingAccountModel" middle="break" class="nano-address-monospace uk-width-auto" style="max-width: 90%;"></app-nano-account-id>
                <a class="span-icon" ngxClipboard [cbContent]="pendingAccountModel" (cbOnSuccess)="copied()" uk-icon="icon: copy" title="Copy Account Address" uk-tooltip></a>
              </div>
            </div>
            <ng-template #placeholder>
              <div class="qr-code qr-placeholder">
                <div class="uk-position-absolute text-half-muted">Select an account<br/>to view QR code</div>
                <div style="padding-top: 100%"></div>
              </div>
            </ng-template>
          </div>
                  
        </div>
      </div>
    </div>

    <div class="uk-width-1-1 uk-flex uk-flex-center uk-flex-middle uk-margin-small-bottom">
      <h3 class="uk-margin-remove-bottom">Incoming Transactions</h3>
      <ul class="uk-width-auto uk-iconnav uk-margin-remove-left" style="margin-top: -1px;">
        <li><a uk-icon="icon: refresh;" (click)="getPending()" uk-tooltip title="Reload incoming transactions from the network."></a></li>
      </ul>
    </div>

    <div uk-grid>
      <div class="uk-width-1-1">
        <div class="uk-card uk-card-default">
          <table class="uk-table uk-table-striped uk-table-small">
            <thead>
            <tr>
              <th scope="col">Account</th>
              <th scope="col">Sender</th>
              <th scope="col">Amount</th>
              <th scope="col">Options</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let block of pendingBlocks">
              <td *ngIf="block.account == pendingAccountModel || pendingAccountModel === '0'" class="uk-visible-toggle">
                <div uk-grid>
                  <div class="uk-width-auto uk-text-truncate">
                    <a [routerLink]="'/account/' + block.account" class="nano-address-clickable nano-address-monospace uk-link-text" title="View Account Details" uk-tooltip>
                      <app-nano-account-id [accountID]="block.account" middle="off"></app-nano-account-id>
                    </a>
                  </div>
                  <div class="nano-address-actions uk-width-auto">
                    <ul class="uk-iconnav">
                      <li><a ngxClipboard [cbContent]="block.account" (cbOnSuccess)="copied()" uk-icon="icon: copy" title="Copy Account Address" uk-tooltip></a></li>
                    </ul>
                  </div>
                </div>
              </td>
              <td *ngIf="block.account == pendingAccountModel || pendingAccountModel === '0'" class="uk-visible-toggle">
                <div uk-grid>
                  <div class="uk-width-auto uk-text-truncate" style="max-width: calc(100% - 35px);">
                    <a [routerLink]="'/account/' + block.source" class="nano-address-clickable nano-address-monospace uk-link-text" title="View Account Details" uk-tooltip>
                      <app-nano-account-id [accountID]="block.source" middle="off"></app-nano-account-id>
                    </a>
                  </div>
                  <div class="nano-address-actions uk-width-auto">
                    <ul class="uk-iconnav">
                      <li><a ngxClipboard [cbContent]="block.source" (cbOnSuccess)="copied()" uk-icon="icon: copy" title="Copy Account Address" uk-tooltip></a></li>
                    </ul>
                  </div>
                </div>
              </td>
              <td *ngIf="block.account == pendingAccountModel || pendingAccountModel === '0'">
                {{ block.amount | rai: 'mnano,true' | amountsplit: 0 }}{{ block.amount | rai: 'mnano,true' | amountsplit: 1 }} NANO
                <div *ngIf="toBigNumber(block.amount).mod(nano).gt(0)">
                  <span *ngIf="toBigNumber(block.amount); let rawAmount" style="display: block; font-size: 12px;" class="uk-text-muted">+{{ rawAmount.mod(nano).toString(10) }} raw</span>
                </div>
              </td>
              <td *ngIf="block.account == pendingAccountModel || pendingAccountModel === '0'" class="uk-text-nowrap">
                <button *ngIf="!block.loading" (click)="receivePending(block)" class="uk-button uk-button-secondary uk-button-small">Receive</button>
                <button *ngIf="block.loading" class="uk-button uk-button-secondary uk-disabled uk-button-small"><span class="uk-margin-right" uk-spinner></span> Loading</button>
              </td>
            </tr>
            <tr *ngIf="!loadingIncomingTxList && !pendingBlocks.length && ((pendingAccountModel === '0' && pendingBelowThreshold.length > 0 && !pendingBelowThreshold[0].gt(0)) || (pendingAccountModel !== '0' && walletAccount && walletAccount.pendingBelowThreshold.length > 0 && !walletAccount.pendingBelowThreshold[0].gt(0)))">
              <td colspan="4" style="text-align: center;">No incoming transactions</td>
            </tr>
            <tr *ngIf="pendingAccountModel === '0' && pendingBelowThreshold.length > 0 && pendingBelowThreshold[0].gt(0)">
              <td colspan="4" style="text-align: center;">Some transactions ({{ pendingBelowThreshold[0] | rai: 'mnano,true' | amountsplit: 0 }}{{ pendingBelowThreshold[0] | rai: 'mnano,true' | amountsplit: 1 }} NANO total) were hidden due to a Minimum Receive Amount of {{ minAmount | rai: 'mnano,true' | amountsplit: 0 }}{{ minAmount | rai: 'mnano,true' | amountsplit: 1 }} NANO <a routerLink="/configure-app" routerLinkActive="active">(configure)</a></td>
            </tr>
            <tr *ngIf="pendingAccountModel !== '0' && walletAccount && walletAccount.pendingBelowThreshold.length > 0 && walletAccount.pendingBelowThreshold[0].gt(0)">
              <td colspan="4" style="text-align: center;">Some transactions ({{ walletAccount.pendingBelowThreshold[0] | rai: 'mnano,true' | amountsplit: 0 }}{{ walletAccount.pendingBelowThreshold[0] | rai: 'mnano,true' | amountsplit: 1 }} NANO total) were hidden due to a Minimum Receive Amount of {{ minAmount | rai: 'mnano,true' | amountsplit: 0 }}{{ minAmount | rai: 'mnano,true' | amountsplit: 1 }} NANO <a routerLink="/configure-app" routerLinkActive="active">(configure)</a></td>
            </tr>
            <tr *ngIf="loadingIncomingTxList">
              <td colspan="4" style="text-align: center;"><span class="uk-margin-right" uk-spinner></span> Loading incoming transactions...</td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>
</div>

