.account-type-label.editing-name {
    margin-bottom: 6px;
}

.nano-address-actions {
    margin-top: 2px;
}

.icon-unconfirmed {
    margin-left: 2px;
    vertical-align: 2px;
}

.icon-qr-code {
    width: 19px;
    height: 19px;
    background-color: currentcolor;
    -webkit-mask-image: url('assets/img/qr-code.svg');
    mask-image: url('assets/img/qr-code.svg');
}

.block-qr {
    margin:auto;
    width: 100%;
    max-width: 600px;
}

@media only screen and (max-width: 1200px) {
    .block-qr {
        max-width: 1200px;
    }
}

.modal-qr {
    width: 80%;
    max-width: 750px !important;
    padding: 20px 0 0 0;
}

@media only screen and (max-width: 1200px) {
    .modal-qr {
        width: 100%;
        max-width: 1200px !important;
    }
    .modal-qr-body {
        padding: 30px 5px;
    }

    .modal-block-body {
        padding: 30px 20px;
    }
}

.modal-block {
    width: 100%;
    max-width: 1200px !important;
    padding: 20px 0 0 0;
}

#remote {
    cursor: pointer;
    margin-left: 10px;
    position: relative;
    bottom: 3px;
}

.incoming-label {
    display: inline-block;
    background: #4a90e2;
    border-radius: 20px;
    font-size: 12px;
    padding: 2px 14px;
    margin-left: 7px;
    vertical-align: 1px;
    padding-bottom: 1px;
    text-transform: uppercase;
    color: #FFF;
    margin-top: -3px;
    margin-bottom: -3px;
}

.incoming-label > .text-full {
    display: inline-block;
}

.incoming-label > .text-full > .amount-sign {
    display: inline-block;
    vertical-align: 1px;
    margin-right: 1px;
}

.incoming-label > .text-full > .amount-integer {
    display: inline-block;
    font-size: 19px;
    font-weight: 700;
}

.incoming-label > .text-full > .amount-fractional {
    display: inline-block;
}

.incoming-label > .text-full > .amount-currency-symbol {
    font-size: 16px;
    margin: 0 2px -1px 1px;
}

.incoming-label > .text-snippet {
    display: none;
}

.details-header {
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 2px;
}

.representative-label-container {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.account-amounts-primary {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-top: 8px;
    margin-bottom: 6px;
}

.account-amounts-primary-confirmed {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    line-height: 1;
}

.account-amounts-primary-confirmed > .amount-integer {
    font-size: 26px;
    font-weight: 700;
}

.account-amounts-primary-confirmed > .amount-fractional {
    font-size: 16px;
}

.account-amounts-primary-confirmed > .amount-currency-symbol {
    font-size: 18px;
    margin-right: 3px;
}

.representative-details {
    position: relative;
}

.representative-details, .balance-details {
    min-height: 85px;
}

@media (max-width: 1199px) {
    /* horizontal separator between rep details and balances */
    .representative-details::after {
        content: '';
        display: block;
        position: absolute;
        width: calc(100% + 30px);
        top: calc(100% + 13px);
        height: 1px;
        left: 0;
    }
}

.advanced-options-link {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.advanced-options-link .chevron {
    margin-left: 8px;
}

.chevron {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23676686%22%20stroke-width%3D%221.1%22%20points%3D%221%204%207%2010%2013%204%22%20%2F%3E%0A%3C%2Fsvg%3E");
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-left: 4px;
}

.chevron-up {
    transform: scaleY(-1);
}

.advanced-options {
    margin-top: 20px;
}

.advanced-option {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.advanced-option + .advanced-option {
    margin-top: 16px;
}

.advanced-option .uk-checkbox {
    margin-left: 12px;
    margin-top: -1px;
}

.more-results > a {
    display: block;
}
.more-results > a > .chevron {
    margin: 0 40px -4px 40px;
}

.form-input-destination {
    max-width: 800px;
}

.form-amount {
    max-width: 450px;
}

@media (max-width: 939px) {
    .add-whitespace-underneath {
        padding-bottom: 100px;
    }
}

.uk-modal-body .qr-code-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    background: #FFF;
    margin-bottom: 0;
}
.uk-modal-body .qr-code {
    width: 180px;
    height: 180px;
    border-radius: 6px;
}
@media (max-width: 1199px) {
    .uk-modal-body .qr-code-placeholder, .uk-modal-body .qr-code {
        min-width: 180px;
        min-height: 180px;
        width: 60%;
        height: auto;
    }
}
@media (max-width: 699px) {
    .uk-modal-body .qr-code-placeholder, .uk-modal-body .qr-code {
        width: 80%;
        height: auto;
    }
}
