<div class="uk-animation-slide-left-small" uk-grid>
  <div class="uk-width-1-1">

    <h2 class="uk-heading-divider">Account Details</h2>

    <div class="uk-card uk-card-default uk-margin">
      <div class="uk-card-header uk-visible-toggle">

        <div uk-grid>

          <div class="uk-width-expand">

            <div *ngIf="showEditAddressBook" uk-grid>
              <div class=" uk-width-1-1">
                <div class="uk-margin">
                  <div class="uk-inline uk-width-1-1">
                    <a class="uk-form-icon uk-form-icon-flip uk-text-success" (click)="saveAddressBook()" uk-icon="icon: check" uk-tooltip title="Save Changes"></a>
                    <a class="uk-form-icon uk-form-icon-flip uk-text-danger" style="margin-right: 26px;" (click)="showEditAddressBook = false" uk-tooltip title="Cancel Changes - Set the label to blank to delete" uk-icon="icon: close"></a>
                    <input class="uk-input" (keyup.enter)="saveAddressBook()" [(ngModel)]="addressBookModel" placeholder="Account Label (Set to blank to delete)" type="text" style="padding-right: 60px;">
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="!showEditAddressBook" uk-grid>
              <div class="uk-width-1-1">
                <div *ngIf="addressBookEntry || walletAccount">
                  <div class="uk-width-1-1">
                    <div uk-grid>
                    <h3 class="uk-width-auto uk-card-title uk-text-truncate" style="max-width: calc(100% - 35px);">{{ addressBookEntry ? addressBookEntry : ('Account #' + walletAccount.index)}}</h3>
                      <div class="uk-width-auto" style="padding-left: 10px; margin-top: 3px;">
                        <li style="display: contents;"><span uk-icon="icon: pencil;" title="Edit Account Label" uk-tooltip (click)="showEditAddressBook = !showEditAddressBook" title="Edit Account Label"></span></li>
                      </div>
                    </div>
                  </div>
                  <div uk-grid>
                    <div class="uk-width-auto uk-text-small uk-text-truncate" style="max-width: calc(100% - 35px);">
                      <app-nano-account-id [accountID]="accountID"></app-nano-account-id>
                    </div>
                    <div class="uk-width-auto" style="padding-left: 10px; margin-top: -3px;">
                      <li><a ngxClipboard [cbContent]="accountID" (cbOnSuccess)="copied()" uk-icon="icon: copy" title="Copy Account Address" uk-tooltip></a></li>
                    </div>
                  </div>
                </div>

                <div *ngIf="!addressBookEntry && !walletAccount">
                  <div uk-grid>
                    <h3 class="uk-width-auto uk-card-title uk-text-truncate" style="max-width: calc(100% - 80px);">
                      <app-nano-account-id [accountID]="accountID"></app-nano-account-id>
                    </h3>
                    <div class="uk-width-auto">
                      <ul class="uk-iconnav" style="margin-top: 5px;">
                        <li style="display: contents;"><span uk-icon="icon: pencil;" title="Edit Account Label" uk-tooltip (click)="showEditAddressBook = !showEditAddressBook" title="Edit Account Label"></span></li>
                        <li><a ngxClipboard [cbContent]="accountID" (cbOnSuccess)="copied()" uk-icon="icon: copy" title="Copy Account Address" uk-tooltip></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="uk-card-body uk-padding-remove uk-form-horizontal">

        <div class="uk-padding-small" uk-grid>

          <div class="uk-width-3-5@s uk-width-3-4@m">
            <div uk-grid>
              <div class="uk-width-1-1">
                <div uk-grid>
                  <div class="uk-width-1-3 uk-text-right">
                    Account Balance
                  </div>
                  <div class="uk-width-1-3 uk-text-right">
                    {{ !account? 0:(account.balance || 0 | rai: settings.settings.displayDenomination) }}
                    <span *ngIf="account && account.balanceRaw && account.balanceRaw > 0" style="display: block; font-size: 12px;" class="uk-text-muted">+{{ !account? 0:(account.balanceRaw.toString(10)) }} raw</span>
                  </div>
                  <div class="uk-width-1-3 uk-text-left">
                    {{ !account? 0:(account.balanceFiat | fiat: settings.settings.displayCurrency) }}
                  </div>
                </div>
              </div>

              <div class="uk-width-1-1">
                <div uk-grid>
                  <div class="uk-width-1-3 uk-text-right">
                    Incoming Amount
                  </div>
                  <div class="uk-width-1-3 uk-text-right">
                    {{ !account? 0:(account.pending || 0 | rai: settings.settings.displayDenomination) }}
                    <span *ngIf="account && account.pendingRaw && account.pendingRaw > 0" style="display: block; font-size: 12px;" class="uk-text-muted">+{{ !account? 0:(account.pendingRaw.toString(10)) }} raw</span>
                  </div>
                  <div class="uk-width-1-3 uk-text-left">
                    {{ !account? 0:(account.pendingFiat | fiat: settings.settings.displayCurrency) }}
                  </div>
                </div>
              </div>

              <div class="uk-width-1-1" *ngIf="account && account.representative">
                <div uk-grid>
                  <div class="uk-width-1-3 uk-text-right">
                    Representative
                  </div>
                  <div class="uk-width-2-3 uk-text-left">
                    <div *ngIf="showEditRepresentative">
                      <div uk-grid>
                        <div class=" uk-width-1-1">
                          <div class="uk-margin">
                            <div class="uk-inline uk-width-1-1">
                              <a class="uk-form-icon uk-form-icon-flip uk-text-success" (click)="saveRepresentative()" uk-icon="icon: check" uk-tooltip title="Save New Representative"></a>
                              <a class="uk-form-icon uk-form-icon-flip uk-text-danger" style="margin-right: 26px;" (click)="showEditRepresentative = false" uk-icon="icon: close" uk-tooltip title="Cancel Changes"></a>

                              <input class="uk-input" (keyup.enter)="saveRepresentative()" (blur)="validateRepresentative()" (keyup)="searchRepresentatives()" (focus)="searchRepresentatives()" [(ngModel)]="representativeModel" placeholder="New Representative Account" type="text" style="padding-right: 60px;">

                              <div *ngIf="(representativeResults$ | async).length" [hidden]="!showRepresentatives" class="uk-animation-slide-down-small uk-width-1-1 uk-card uk-card-default uk-card-body uk-position-absolute" style="z-index: 15000">
                                <ul class="uk-nav uk-nav-default">
                                  <li class="uk-nav-header">Representative List Results</li>
                                  <li class="uk-nav-divider"></li>
                                  <li *ngFor="let rep of representativeResults$ | async">
                                    <a (click)="selectRepresentative(rep.id)">
                                      {{ rep.name }}
                                      <span *ngIf="rep.trusted" uk-icon="icon: star;" class="uk-text-success"></span>
                                      <span *ngIf="rep.warn" uk-icon="icon: warning;" class="uk-text-warning"></span>
                                    </a>
                                  </li>
                                </ul>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="!showEditRepresentative">
                      <div uk-grid>
                        <div class="uk-width-auto uk-text-truncate" style="max-width: calc(100% - 35px);">
                          <span *ngIf="repLabel" class="uk-label uk-label-danger">{{ repLabel }}</span> 
                          <app-nano-account-id [accountID]="!account ? '':account.representative"></app-nano-account-id>
                        </div>
                        <div class="uk-width-auto" style="padding-left: 10px;" *ngIf="walletAccount && account && account.representative">
                          <ul class="uk-iconnav">
                            <!--<li><a uk-icon="icon: pencil;" title="Change Representative" uk-tooltip (click)="showEditRepresentative = true"></a></li>-->
                            <li><a uk-icon="icon: pencil;" title="Change Representative" uk-tooltip routerLink="/representatives" [queryParams]="{ hideOverview: true, showRecommended: true, accounts: accountID }"></a></li>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>
                  <!--<div class="uk-width-1-3 uk-text-left"></div>-->
                </div>
              </div>

              <div *ngIf="settings.settings.serverAPI" class="uk-width-1-1">
                <div uk-grid>
                  <div class="uk-width-1-3 uk-text-right">
                    <label>Enable Remote Signing</label>
                  </div>
                  <div class="uk-width-1-3 uk-text-left">
                    <input class="uk-checkbox uk-margin-medium-left" type="checkbox" name="remoteVisible" value="1" [(ngModel)]="remoteVisible">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="uk-width-2-5@s uk-width-1-4@m uk-text-center">
            <img *ngIf="qrCodeImage" [src]="qrCodeImage" alt="QR code"><br />
            <span class="uk-text-small">Deposit Address</span>
          </div>
        </div>

        <div *ngIf="remoteVisible" uk-grid>
          <div class="uk-width-1-1">
            <div class="uk-width-1-1 uk-margin-medium-left">
              <p>Create a new SEND or CHANGE block below. For any incoming transaction in the table: Use REMOTE SIGN.</p>
              <button class="uk-button uk-button-primary" (click)="showRemoteModal()">CREATE NEW BLOCK</button>
            </div>
          </div>
        </div>

        <div uk-grid style="margin-top: 25px;">
          <div class="uk-width-1-1">
            <h3 class="uk-heading-divider uk-text-center" style="margin-bottom: 0;">Recent Transactions<span class="{{statsRefreshEnabled ? '':'refresh-disabled'}}" id="refresh" uk-icon="icon: refresh;" (click)="loadAccountDetails(true)" uk-tooltip title="Reload the transaction history from the network."></span></h3>
          <div class="uk-overflow-auto">


            <table class="uk-table uk-table-striped uk-table-small" style="margin-top: 0;">
              <thead>
              <tr>
                <th scope="col" class="uk-width-1-6@m uk-width-1-6">Date</th>
                <th scope="col" class="uk-width-1-5@m uk-width-1-4">Account</th>
                <th scope="col" class="uk-width-1-5@m uk-width-1-4">Amount</th>
                <th scope="col" class="uk-width-1-5@m uk-width-1-4">Hash</th>
                <th scope="col" *ngIf="remoteVisible" class="uk-width-1-5@m uk-width-1-4">Incoming</th>
              </tr>
              </thead>
              <tbody>

              <tr *ngFor="let pending of pendingBlocks" class="uk-text-muted">
                <td class="uk-text-truncate" *ngIf="pending.local_timestamp">{{ pending.local_timestamp * 1000 | date: 'yyyy-MM-dd HH:mm' }}</td>
                <td class="uk-text-truncate uk-text-muted" *ngIf="!pending.local_timestamp">N/A</td>
                <td class="uk-visible-toggle">
                  <div uk-grid>
                    <div class="uk-width-auto uk-text-truncate" style="max-width: calc(100% - 35px);">
                      <a [routerLink]="'/account/' + pending.account" class="uk-link-text" title="View Account Details" uk-tooltip>
                        <span *ngIf="pending.addressBookName" class="uk-margin-small-right uk-label uk-label-default">{{ pending.addressBookName }}</span> 
                        <app-nano-account-id [accountID]="pending.account" middle="off"></app-nano-account-id>
                      </a>
                    </div>
                    <div class="uk-width-auto" style="padding-left: 10px;">
                      <ul class="uk-iconnav">
                        <li><a ngxClipboard [cbContent]="pending.account" (cbOnSuccess)="copied()" uk-icon="icon: copy" title="Copy Account Address" uk-tooltip></a></li>
                      </ul>
                    </div>
                  </div>
                </td>
                <td class="uk-text-muted">
                  +{{ pending.amount | rai: settings.settings.displayDenomination }}*
                </td>
                <td class="uk-text-truncate"><a [routerLink]="'/transaction/' + pending.hash" class="uk-link-text" title="View Block Details" uk-tooltip>{{ pending.hash }}</a></td>
                <td *ngIf="remoteVisible"><button class="uk-button uk-button-primary uk-text-center uk-width-auto" style="height: 28px; line-height: 28px; padding-top: 0;" type="button" (click)="generateReceive(pending.hash)">REMOTE SIGN</button></td>
              </tr>

              <tr *ngFor="let history of accountHistory">
                <td class="uk-text-truncate" *ngIf="history.local_timestamp">{{ history.local_timestamp * 1000 | date: 'yyyy-MM-dd HH:mm' }}</td>
                <td class="uk-text-truncate uk-text-muted" *ngIf="!history.local_timestamp">N/A</td>
                <td class="uk-visible-toggle">
                  <div uk-grid>
                    <div class="uk-width-auto uk-text-truncate" style="max-width: calc(100% - 35px);">
                      <a [routerLink]="'/account/' + (history.link_as_account || history.account)" class="uk-link-text" title="View Account Details" uk-tooltip>
                        <span *ngIf="history.addressBookName" class="uk-margin-small-right uk-label uk-label-default">{{ history.addressBookName }}</span> 
                        <app-nano-account-id [accountID]="history.link_as_account || history.account" middle="off"></app-nano-account-id>
                      </a>
                    </div>
                    <div class="uk-width-auto" style="padding-left: 10px;">
                      <ul class="uk-iconnav">
                        <li><a ngxClipboard [cbContent]="history.link_as_account || history.account" (cbOnSuccess)="copied()" uk-icon="icon: copy" title="Copy Account Address" uk-tooltip></a></li>
                      </ul>
                    </div>
                  </div>
                </td>
                <td [ngClass]="{ 'uk-text-success': history.type == 'receive' || history.subtype == 'receive' || history.type == 'open' || history.subtype == 'open', 'uk-text-danger': history.type == 'send' || history.subtype == 'send' }">
                  <span *ngIf="isNaN(history.amount)">NEW REP</span>
                  <span *ngIf="!isNaN(history.amount)">{{ (history.type == 'send' || history.subtype == 'send') ? '-' : '+' }}{{ history.amount | rai: settings.settings.displayDenomination }}</span>
                </td>
                <td class="uk-text-truncate"><a [routerLink]="'/transaction/' + history.hash" class="uk-link-text" title="View Block Details" uk-tooltip>{{ history.hash }}</a></td>
              </tr>
              <tr *ngIf="!accountHistory.length && !pendingBlocks.length">
                <td colspan="4" style="text-align: center;">No account history</td>
              </tr>
              <tr *ngIf="accountHistory.length + 1 >= pageSize && pageSize <= maxPageSize">
                <td colspan="4" style="text-align: center;">
                  <a (click)="loadMore()" class="uk-link-text">Load More Results</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          </div>

        </div>

      </div>
    </div>

    <div class="uk-width-1-1 uk-text-center uk-text-muted uk-text-small" *ngIf="pendingBlocks.length">
      * Incoming Transaction
    </div>

  </div>
</div>

<!-- Modal for remote receive incoming -->
<div id="receive-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body modal-qr">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">Unsigned Incoming Block</h2>
    </div>
    <div class="uk-modal-body modal-qr-body">
      <ol>
        <li><a routerLink="/qr-scan" routerLinkActive="active" class="uk-modal-close">Scan</a> the unsigned QR with an offline Nault, or copy the "Unsigned Block" to <a routerLink="/remote-signing" routerLinkActive="active" class="uk-modal-close">Step 2</a>.</li>
        <li><a routerLink="/qr-scan" routerLinkActive="active" class="uk-modal-close">Scan</a> the new signed QR with an online Nault, or copy the "Signed Block" to <a routerLink="/remote-signing" routerLinkActive="active" class="uk-modal-close">Step 3</a>.</li>
      </ol>

      <div *ngIf="blockHashReceive" class="uk-width-1-1 uk-text-center" style="display: flex; justify-content: center;">
        <span class="uk-text-small" uk-tooltip title="Unsigned block string to be copied to remote device" style="overflow-wrap: anywhere;"><strong>Unsigned Block</strong></span>
        <ul class="uk-iconnav" style="padding-left: 0;">
          <li><a ngxClipboard [cbContent]="qrString" (cbOnSuccess)="copied()" uk-icon="icon: copy" title="Copy" uk-tooltip></a></li>
        </ul>
        <span class="uk-text-small" uk-tooltip title="Final block hash to be signed or verified" style="overflow-wrap: anywhere; margin-left: 50px;"><strong>Block Hash</strong></span>
        <ul class="uk-iconnav" style="padding-left: 0;">
          <li><a ngxClipboard [cbContent]="blockHashReceive" (cbOnSuccess)="copied()" uk-icon="icon: copy" title="Copy" uk-tooltip></a></li>
        </ul>
      </div>

      <div class="uk-width-1-1 uk-text-center">
        <img *ngIf="qrCodeImageBlockReceive" [src]="qrCodeImageBlockReceive" class="block-qr" alt="QR code"><br />
      </div>
    </div>
  </div>
</div>

<!-- Modal for creating send and change block for remote signing-->
<div id="block-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body modal-block">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">Create Block for Remote Signing</h2>
    </div>
    <div class="uk-modal-body modal-block-body">
      <ol>
        <li>Generate a Nano block below. No wallet login needed.</li>
        <li><a routerLink="/qr-scan" routerLinkActive="active" class="uk-modal-close">Scan</a> the unsigned QR with an offline Nault, or copy the "Unsigned Block" to <a routerLink="/remote-signing" routerLinkActive="active" class="uk-modal-close">Step 2</a>.</li>
        <li><a routerLink="/qr-scan" routerLinkActive="active" class="uk-modal-close">Scan</a> the new signed QR with an online Nault, or copy the "Signed Block" to <a routerLink="/remote-signing" routerLinkActive="active" class="uk-modal-close">Step 3</a>.</li>
      </ol>

      <span><strong>Block Type</strong></span><span uk-icon="icon: info;" uk-tooltip title="The block type to create for remote signing. Receiving can be done from the Recent Transactions below."></span><br>
      <label class="uk-margin-medium-right"><input class="uk-radio" type="radio" name="blocktype" value={{blockTypes[0]}} [(ngModel)]="blockTypeSelected"> {{blockTypes[0]}}</label>
      <label class="uk-margin-medium-right"><input class="uk-radio" type="radio" name="blocktype" value={{blockTypes[1]}} [(ngModel)]="blockTypeSelected"> {{blockTypes[1]}}</label>
      <br><br>

      <div *ngIf="blockTypeSelected === blockTypes[0]" class="uk-form-horizontal">
        <div class="uk-margin">
          <label class="uk-form-label" for="form-horizontal-text2">To Account</label>
          <div class="uk-form-controls">
            <div class="uk-inline uk-width-1-1">
              <a class="uk-form-icon uk-form-icon-flip" uk-icon="icon: camera" (click)="openQR('account1','account')" uk-tooltip title="Scan from QR code"></a>
              <input (blur)="validateDestination()" (keyup)="searchAddressBook()" (focus)="searchAddressBook()" [(ngModel)]="toAccountID" [ngClass]="{ 'uk-form-success': toAccountStatus === 2, 'uk-form-danger': toAccountStatus === 0 }" class="uk-input" id="form-horizontal-text2" type="text" placeholder="Account to send to" autocomplete="off">

              <div *ngIf="(addressBookResults$ | async).length" [hidden]="!showAddressBook" class="uk-animation-slide-down-small uk-width-1-1 uk-card uk-card-default uk-card-body uk-position-absolute" style="z-index: 15000">
                <ul class="uk-nav uk-nav-default">
                  <li class="uk-nav-header">Address Book Results</li>
                  <li class="uk-nav-divider"></li>
                  <li *ngFor="let book of addressBookResults$ | async">
                    <a (click)="selectBookEntry(book.account)">{{ book.name }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="uk-form-controls" *ngIf="addressBookMatch">
            <div class="uk-inline uk-width-1-1">
              <span class="uk-label uk-label-primary">{{ addressBookMatch }}</span>
            </div>
          </div>
        </div>

        <div uk-grid>
          <div class="uk-width-1-1">
            <label class="uk-form-label" for="form-horizontal-text">Amount</label>
            <div class="uk-form-controls">
              <div uk-grid>
                <div class="uk-width-1-1">
                  <div class="uk-inline uk-width-1-1">
                    <a class="uk-form-icon uk-form-icon-flip" (click)="setMaxAmount()" style="padding-right: 7px;" uk-tooltip title="Set Maximum Amount">Max</a>
                    <input [(ngModel)]="amount" [ngClass]="{ 'uk-form-danger': amountStatus === 0 }" class="uk-input" id="form-horizontal-text" (keyup)="syncFiatPrice()" (change)="syncFiatPrice()" type="text" placeholder="Amount of {{ selectedAmount.name }} to send" maxlength="40">
                  </div>
                  <div *ngIf="amountRaw.gt(0)" class="uk-width-1-1 uk-width-3-5@m uk-text-small uk-text-muted uk-margin-remove">
                    <span uk-tooltip title="Additional raw to send">+{{ amountRaw.toString(10) }} raw</span> &nbsp; <a class="uk-text-danger" (click)="resetRaw()" uk-tooltip title="Remove the additional raw amount from the total amount" uk-icon="icon: close"></a>
                  </div>
                  <div class="uk-width-1-1" style="margin-top: 10px;" *ngIf="settings.settings.displayCurrency">
                    <div class="uk-width-1-1 uk-inline">
                      <a class="uk-form-icon uk-link-reset uk-link-muted" style="padding-left: 7px;" uk-tooltip title="Last Price: {{ price.price.lastPrice | fiat: settings.settings.displayCurrency }} / NANO">{{ settings.settings.displayCurrency | currencySymbol }}</a>
                      <input [(ngModel)]="amountFiat" (keyup)="syncNanoPrice()" (change)="syncNanoPrice()" style="padding-left: 50px !important;" class="uk-input" id="form-horizontal-text-fiat" type="text" placeholder="Amount of {{ settings.settings.displayCurrency }} to send">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="blockTypeSelected === blockTypes[1]" class="uk-form-horizontal">
        <div class="uk-margin">
          <label class="uk-form-label" for="form-horizontal-text3">Representative</label>
          <div class="uk-form-controls">
            <div class="uk-inline uk-width-1-1">
              <a class="uk-form-icon uk-form-icon-flip" uk-icon="icon: camera" (click)="openQR('rep1','account')" uk-tooltip title="Scan from QR code"></a>
              <input (blur)="validateRepresentative()" (keyup)="searchRepresentatives()" (focus)="searchRepresentatives()" (keyup.enter)="generateChange()" [(ngModel)]="representativeModel" class="uk-input" [ngClass]="{ 'uk-form-success': repStatus === 2, 'uk-form-danger': repStatus === 0 }" id="form-horizontal-text3" type="text" placeholder="nano_abc...123" #repInput>
              
              <div *ngIf="(representativeResults$ | async).length" [hidden]="!showRepresentatives" class="uk-animation-slide-down-small uk-width-1-1 uk-card uk-card-default uk-card-body uk-position-absolute" style="z-index: 15000">
                <ul class="uk-nav uk-nav-default">
                  <li class="uk-nav-header">Representative List Results</li>
                  <li class="uk-nav-divider"></li>
                  <li *ngFor="let rep of representativeResults$ | async">
                    <a (click)="selectRepresentative(rep.id)">
                      {{ rep.name }}
                      <span *ngIf="rep.trusted" uk-icon="icon: star;" class="uk-text-success"></span>
                      <span *ngIf="rep.warn" uk-icon="icon: warning;" class="uk-text-warning"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="uk-form-controls" *ngIf="representativeListMatch">
            <div class="uk-inline uk-width-1-1">
              <span class="uk-label uk-label-danger">{{ representativeListMatch }}</span>
            </div>
          </div>
        </div>
      </div>
      <br>
      <button *ngIf="blockTypeSelected === blockTypes[0]" class="uk-button uk-button-primary uk-text-center uk-width-1-1" type="button" style="margin-bottom: 20px;" (click)="generateSend()">Generate Send Block</button>
      <button *ngIf="blockTypeSelected === blockTypes[1]" class="uk-button uk-button-primary uk-text-center uk-width-1-1" type="button" style="margin-bottom: 20px;" (click)="generateChange()">Generate Change Block</button>

      <div *ngIf="blockHash" class="uk-width-1-1 uk-text-center" style="display: flex; justify-content: center;">
        <span class="uk-text-small" uk-tooltip title="Unsigned block string to be copied to remote device" style="overflow-wrap: anywhere;"><strong>Unsigned Block</strong></span>
        <ul class="uk-iconnav" style="padding-left: 0;">
          <li><a ngxClipboard [cbContent]="qrString" (cbOnSuccess)="copied()" uk-icon="icon: copy" title="Copy" uk-tooltip></a></li>
        </ul>
        <span class="uk-text-small" uk-tooltip title="Final block hash to be signed or verified" style="overflow-wrap: anywhere; margin-left: 50px;"><strong>Block Hash</strong></span>
        <ul class="uk-iconnav" style="padding-left: 0;">
          <li><a ngxClipboard [cbContent]="blockHash" (cbOnSuccess)="copied()" uk-icon="icon: copy" title="Copy" uk-tooltip></a></li>
        </ul>
      </div>
      <div class="uk-width-1-1 uk-text-center">
        <img *ngIf="qrCodeImageBlock" [src]="qrCodeImageBlock" class="block-qr" alt="QR code"><br />
      </div>
    </div>
  </div>
</div>
