<div class="uk-animation-slide-left-small" uk-grid>
  <div class="uk-width-1-1">

    <h2>Account Details</h2>

    <div class="uk-card uk-card-default uk-margin">
      <div class="uk-card-header uk-visible-toggle">

        <div uk-grid>

          <div class="uk-width-expand">

            <div *ngIf="showEditAddressBook" uk-grid>
              <div class=" uk-width-1-1">
                <div class="uk-margin">
                  <div class="uk-inline uk-width-1-1">
                    <a class="uk-form-icon uk-form-icon-flip uk-text-success" (click)="saveAddressBook()" uk-icon="icon: check" uk-tooltip title="Save Changes"></a>
                    <a class="uk-form-icon uk-form-icon-flip uk-text-danger" style="margin-right: 26px;" (click)="showEditAddressBook = false" uk-tooltip title="Cancel Changes - Set the label to blank to delete" uk-icon="icon: close"></a>
                    <input class="uk-input" (keyup.enter)="saveAddressBook()" [(ngModel)]="addressBookModel" placeholder="Account Label (Set to blank to delete)" type="text" style="padding-right: 60px;">
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="!showEditAddressBook" uk-grid>
              <div class="uk-width-1-1">
                <div *ngIf="addressBookEntry">
                    <h3 class="uk-card-title">{{ addressBookEntry }}</h3>
                    <div class="uk-text-small uk-text-truncate">{{ accountID }}</div>
                </div>

                <div *ngIf="!addressBookEntry">
                  <h3 class="uk-card-title uk-text-truncate" style="margin-bottom: 0;">{{ accountID }}</h3>
                </div>
              </div>
            </div>

          </div>
          <div class="uk-width-auto">
            <ul class="uk-hidden-hover uk-iconnav">
              <li><span uk-icon="icon: pencil;" title="Edit Account Label" uk-tooltip (click)="showEditAddressBook = !showEditAddressBook" title="Edit Account Label"></span></li>
              <li><a ngxClipboard [cbContent]="accountID" (cbOnSuccess)="copied()" uk-icon="icon: copy" title="Copy Account Address" uk-tooltip></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="uk-card-body uk-padding-remove uk-form-horizontal">

        <div class="uk-padding-small" uk-grid>

          <div class="uk-width-3-5@s uk-width-3-4@m">
            <div uk-grid>
              <div class="uk-width-1-1">
                <div uk-grid>
                  <div class="uk-width-1-3 uk-text-right">
                    Account Balance
                  </div>
                  <div class="uk-width-1-3 uk-text-right">
                    {{ account.balance || 0 | rai: settings.settings.displayDenomination }}
                    <span *ngIf="account.balanceRaw && account.balanceRaw > 0" style="display: block; font-size: 12px;" class="uk-text-muted">+{{ account.balanceRaw.toString(10) }} raw</span>
                  </div>
                  <div class="uk-width-1-3 uk-text-left">
                    {{ account.balanceFiat | fiat: settings.settings.displayCurrency }}
                  </div>
                </div>
              </div>

              <div class="uk-width-1-1">
                <div uk-grid>
                  <div class="uk-width-1-3 uk-text-right">
                    Incoming Amount
                  </div>
                  <div class="uk-width-1-3 uk-text-right">
                    {{ account.pending || 0 | rai: settings.settings.displayDenomination }}
                    <span *ngIf="account.pendingRaw && account.pendingRaw > 0" style="display: block; font-size: 12px;" class="uk-text-muted">+{{ account.pendingRaw.toString(10) }} raw</span>
                  </div>
                  <div class="uk-width-1-3 uk-text-left">
                    {{ account.pendingFiat | fiat: settings.settings.displayCurrency }}
                  </div>
                </div>
              </div>

              <div class="uk-width-1-1" *ngIf="account.representative">
                <div uk-grid>
                  <div class="uk-width-1-3 uk-text-right">
                    Representative
                  </div>
                  <div class="uk-width-2-3 uk-text-left">
                    <div *ngIf="showEditRepresentative">
                      <div uk-grid>
                        <div class=" uk-width-1-1">
                          <div class="uk-margin">
                            <div class="uk-inline uk-width-1-1">
                              <a class="uk-form-icon uk-form-icon-flip uk-text-success" (click)="saveRepresentative()" uk-icon="icon: check" uk-tooltip title="Save New Representative"></a>
                              <a class="uk-form-icon uk-form-icon-flip uk-text-danger" style="margin-right: 26px;" (click)="showEditRepresentative = false" uk-icon="icon: close" uk-tooltip title="Cancel Changes"></a>

                              <input class="uk-input" (keyup.enter)="saveRepresentative()" (blur)="validateRepresentative()" (keyup)="searchRepresentatives()" (focus)="searchRepresentatives()" [(ngModel)]="representativeModel" placeholder="New Representative Account" type="text" style="padding-right: 60px;">

                              <div *ngIf="(representativeResults$ | async).length" [hidden]="!showRepresentatives" class="uk-animation-slide-down-small uk-width-1-1 uk-card uk-card-default uk-card-body uk-position-absolute" style="z-index: 15000">
                                <ul class="uk-nav uk-nav-default">
                                  <li class="uk-nav-header">Representative List Results</li>
                                  <li class="uk-nav-divider"></li>
                                  <li *ngFor="let rep of representativeResults$ | async">
                                    <a (click)="selectRepresentative(rep.id)">
                                      {{ rep.name }}
                                      <span *ngIf="rep.trusted" uk-icon="icon: star;" class="uk-text-success"></span>
                                      <span *ngIf="rep.warn" uk-icon="icon: warning;" class="uk-text-warning"></span>
                                    </a>
                                  </li>
                                </ul>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="!showEditRepresentative">
                      <div uk-grid>
                        <div class="uk-width-expand uk-text-truncate ">
                          <span *ngIf="repLabel" class="uk-label uk-label-danger">{{ repLabel }}</span> {{ account.representative }}
                        </div>
                        <div class="uk-width-auto" style="padding-left: 10px;" *ngIf="walletAccount && account.representative">
                          <ul class="uk-hidden-hover uk-iconnav">
                            <!--<li><a uk-icon="icon: pencil;" title="Change Representative" uk-tooltip (click)="showEditRepresentative = true"></a></li>-->
                            <li><a uk-icon="icon: pencil;" title="Change Representative" uk-tooltip routerLink="/representatives" [queryParams]="{ hideOverview: true, showRecommended: true, accounts: accountID }"></a></li>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>
                  <!--<div class="uk-width-1-3 uk-text-left"></div>-->
                </div>
              </div>

            </div>
          </div>
          <div class="uk-width-2-5@s uk-width-1-4@m uk-text-center">
            <img *ngIf="qrCodeImage" [src]="qrCodeImage"><br />
            <span class="uk-text-small">Deposit Address</span>
          </div>
        </div>

        <div uk-grid style="margin-top: 25px;">
          <div class="uk-width-1-1">
            <h3 class="uk-heading-divider uk-text-center" style="margin-bottom: 0;">Recent Transactions<span></span></h3>


            <table class="uk-table uk-table-striped uk-table-small" style="margin-top: 0;">
              <thead>
              <tr>
                <th class="uk-width-1-6@m uk-width-1-6">Date</th>
                <th class="uk-width-2-5@m uk-width-1-3">Account</th>
                <th class="uk-width-1-5@m uk-width-1-4">Amount</th>
                <th class="uk-width-1-5@m uk-width-1-4">Hash</th>
              </tr>
              </thead>
              <tbody>

              <tr *ngFor="let pending of pendingBlocks" class="uk-text-muted">
                <td class="uk-text-truncate" *ngIf="pending.local_timestamp">{{ pending.local_timestamp * 1000 | date: 'yyyy-MM-dd HH:mm' }}</td>
                <td class="uk-text-truncate uk-text-muted" *ngIf="!pending.local_timestamp">N/A</td>
                <td class="uk-visible-toggle">
                  <div uk-grid>
                    <div class="uk-width-expand uk-text-truncate">
                      <a [routerLink]="'/account/' + pending.account" class="uk-link-text" title="View Account Details" uk-tooltip>
                        <span *ngIf="pending.addressBookName" class="uk-margin-small-right uk-label uk-label-default">{{ pending.addressBookName }}</span> {{ pending.account }}
                      </a>
                    </div>
                    <div class="uk-width-auto" style="padding-left: 10px;">
                      <ul class="uk-hidden-hover uk-iconnav">
                        <li><a ngxClipboard [cbContent]="pending.account" (cbOnSuccess)="copied()" uk-icon="icon: copy" title="Copy Account Address" uk-tooltip></a></li>
                      </ul>
                    </div>
                  </div>
                </td>
                <td class="uk-text-muted">
                  +{{ pending.amount | rai: settings.settings.displayDenomination }}*
                </td>
                <td class="uk-text-truncate"><a [routerLink]="'/transaction/' + pending.hash" class="uk-link-text" title="View Block Details" uk-tooltip>{{ pending.hash }}</a></td>
              </tr>

              <tr *ngFor="let history of accountHistory">
                <td class="uk-text-truncate" *ngIf="history.local_timestamp">{{ history.local_timestamp * 1000 | date: 'yyyy-MM-dd HH:mm' }}</td>
                <td class="uk-text-truncate uk-text-muted" *ngIf="!history.local_timestamp">N/A</td>
                <td class="uk-visible-toggle">
                  <div uk-grid>
                    <div class="uk-width-expand uk-text-truncate">
                      <a [routerLink]="'/account/' + (history.link_as_account || history.account)" class="uk-link-text" title="View Account Details" uk-tooltip>
                        <span *ngIf="history.addressBookName" class="uk-margin-small-right uk-label uk-label-default">{{ history.addressBookName }}</span> {{ history.link_as_account || history.account }}
                      </a>
                    </div>
                    <div class="uk-width-auto" style="padding-left: 10px;">
                      <ul class="uk-hidden-hover uk-iconnav">
                        <li><a ngxClipboard [cbContent]="history.link_as_account || history.account" (cbOnSuccess)="copied()" uk-icon="icon: copy" title="Copy Account Address" uk-tooltip></a></li>
                      </ul>
                    </div>
                  </div>
                </td>
                <td [ngClass]="{ 'uk-text-success': history.type == 'receive' || history.subtype == 'receive' || history.type == 'open' || history.subtype == 'open', 'uk-text-danger': history.type == 'send' || history.subtype == 'send' }">
                  <span *ngIf="isNaN(history.amount)">NEW REP</span>
                  <span *ngIf="!isNaN(history.amount)">{{ (history.type == 'send' || history.subtype == 'send') ? '-' : '+' }}{{ history.amount | rai: settings.settings.displayDenomination }}</span>
                </td>
                <td class="uk-text-truncate"><a [routerLink]="'/transaction/' + history.hash" class="uk-link-text" title="View Block Details" uk-tooltip>{{ history.hash }}</a></td>
              </tr>
              <tr *ngIf="!accountHistory.length && !pendingBlocks.length">
                <td colspan="4" style="text-align: center;">No account history</td>
              </tr>
              <tr *ngIf="accountHistory.length + 1 >= pageSize && pageSize <= maxPageSize">
                <td colspan="4" style="text-align: center;">
                  <a (click)="loadMore()" class="uk-link-text">Load More Results</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>
    </div>

    <div class="uk-width-1-1 uk-text-center uk-text-muted uk-text-small" *ngIf="pendingBlocks.length">
      * Incoming Transaction
    </div>

  </div>
</div>
