#node-stats {
    cursor: pointer;
    position: relative;
    bottom: 2px;
}
.node-stats-disabled {
    color: #bbb;
}
#node-stats-table td {
    padding-right: 20px;
}

#node-stats-table tr:not(:last-child) td {
    border-bottom: 1px solid #dce9f9;
}