#node-stats {
    cursor: pointer;
    position: relative;
    bottom: 2px;
}
.node-stats-disabled {
    color: #bbb;
}
#node-stats-table td {
    padding-right: 20px;
}

.icon-nano-logo {
  margin: 13px 11px;
  width: 32px;
  background-color: currentcolor;
  -webkit-mask-image: url('assets/img/nano-mark-simple.svg');
  mask-image: url('assets/img/nano-mark-simple.svg');
}
