<div class="uk-animation-slide-left-small" uk-grid>
  <div class="uk-width-1-1">
    <h2 class="uk-heading-divider">Configure Nault</h2>

    <div class="uk-card uk-card-default uk-margin">
      <div class="uk-card-header">
        <h3 class="uk-card-title">Display Settings</h3>
      </div>
      <div class="uk-card-body">
        <div uk-grid>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">

              <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-select">FIAT Currency <span uk-icon="icon: info;" uk-tooltip title="Change the currency pair used when showing fiat values in the application.  Select None to hide fiat pairs."></span></label>
                <div class="uk-form-controls">
                  <select class="uk-select" [(ngModel)]="selectedCurrency" id="form-horizontal-select">
                    <option *ngFor="let currency of currencies" [value]="currency.value">{{ currency.name }}</option>
                  </select>
                </div>
              </div>

            </div>
          </div>

          <!--<div class="uk-width-1-1">-->
            <!--<div class="uk-form-horizontal">-->

              <!--<div class="uk-margin">-->
                <!--<label class="uk-form-label">Account Prefix <span uk-icon="icon: info;" uk-tooltip title="Change the Nano account prefix used throughout the application.  Both are valid when sending"></span></label>-->
                <!--<div class="uk-form-controls">-->

                  <!--<div class="uk-inline uk-width-1-1">-->
                    <!--<select class="uk-select" [(ngModel)]="selectedPrefix">-->
                      <!--<option *ngFor="let prefix of prefixOptions" [value]="prefix.value">{{ prefix.name }}</option>-->
                    <!--</select>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

        </div>
      </div>
      <div class="uk-card-footer uk-text-right@s uk-text-center nlt-button-group">
        <button (click)="updateDisplaySettings()" class="uk-button uk-button-primary uk-width-auto@s uk-width-1-1">Update Display Settings</button>
      </div>
    </div>


    <div class="uk-card uk-card-default uk-margin">
      <div class="uk-card-header">
        <h3 class="uk-card-title">Wallet Settings</h3>
      </div>
      <div class="uk-card-body">
        <div uk-grid>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">

              <div class="uk-margin">
                <label class="uk-form-label">Lock After Inactivity <span uk-icon="icon: info;" uk-tooltip title="Change if your wallet should be locked automatically after you have not interacted with it for a certain period of time"></span></label>
                <div class="uk-form-controls">

                  <div class="uk-inline uk-width-1-1">
                    <select class="uk-select" [(ngModel)]="selectedInactivityMinutes">
                      <option *ngFor="let option of inactivityOptions" [value]="option.value">{{ option.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">

              <div class="uk-margin">
                <label class="uk-form-label">Wallet Storage <span uk-icon="icon: info;" uk-tooltip title="Change where your wallet is stored.  If you select none, your wallet is reset every time you reload."></span></label>
                <div class="uk-form-controls">

                  <div class="uk-inline uk-width-1-1">
                    <select class="uk-select" [(ngModel)]="selectedStorage">
                      <option *ngFor="let storage of storageOptions" [value]="storage.value">{{ storage.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">

              <div class="uk-margin">
                <label class="uk-form-label">PoW Source <span uk-icon="icon: info;" uk-tooltip title="Change how Proof of Work for your blocks are generated."></span></label>
                <div class="uk-form-controls">

                  <div class="uk-inline uk-width-1-1">
                    <select class="uk-select" [(ngModel)]="selectedPoWOption">
                      <option *ngFor="let pow of powOptions" [value]="pow.value">{{ pow.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">

              <div class="uk-margin">
                <label class="uk-form-label">Receive Method <span uk-icon="icon: info;" uk-tooltip title="If automatically receiving incoming transactions with the largest amount first or chronological from recorded time. Manual will allow you to pick your own transactions from the receive screen."></span></label>
                <div class="uk-form-controls">

                  <div class="uk-inline uk-width-1-1">
                    <select class="uk-select" [(ngModel)]="selectedPendingOption">
                      <option *ngFor="let pending of pendingOptions" [value]="pending.value">{{ pending.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">

              <div class="uk-margin">
                <label class="uk-form-label">Min Receive [NANO] <span uk-icon="icon: info;" uk-tooltip title="Minimum NANO amount to receive. Transactions below this amount will be ignored by the wallet both for receiving and in the transaction list.  Set to blank or 0 to accept all transactions."></span></label>
                <div class="uk-form-controls">
                  <div uk-grid>
                    <div class="uk-width-1-1">
                      <div class="uk-inline uk-width-1-1">
                        <input [(ngModel)]="minimumReceive" class="uk-input uk-margin-small-bottom" id="form-horizontal-text4" type="text" placeholder="0.000001">
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">

              <div class="uk-margin">
                <label class="uk-form-label">Default Representative <span uk-icon="icon: info;" uk-tooltip title="This representative will be used when creating the initial open block on a new account"></span></label>

                <div class="uk-form-controls">
                  <div class="uk-inline uk-width-1-1">
                    <a class="uk-form-icon uk-form-icon-flip" uk-icon="icon: camera" (click)="openQR('rep1','account')" uk-tooltip title="Scan from QR code"></a>
                    <input (blur)="validateRepresentative()" (keyup)="searchRepresentatives()" (focus)="searchRepresentatives()" [(ngModel)]="defaultRepresentative" class="uk-input" [ngClass]="{ 'uk-form-success': repStatus === 2, 'uk-form-danger': repStatus === 0 }" id="form-horizontal-text3" type="text" placeholder="Leave blank to use a recommended one" #repInput>
                    
                    <div *ngIf="(representativeResults$ | async).length" [hidden]="!showRepresentatives" class="uk-animation-slide-down-small uk-width-1-1 uk-card uk-card-default uk-card-body uk-position-absolute" style="z-index: 15000">
                      <ul class="uk-nav uk-nav-default">
                        <li class="uk-nav-header">Representative List Results</li>
                        <li class="uk-nav-divider"></li>
                        <li *ngFor="let rep of representativeResults$ | async">
                          <a (click)="selectRepresentative(rep.id)">
                            {{ rep.name }}
                            <span *ngIf="rep.trusted" uk-icon="icon: star;" class="uk-text-success"></span>
                            <span *ngIf="rep.warn" uk-icon="icon: warning;" class="uk-text-warning"></span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="uk-form-controls" *ngIf="representativeListMatch">
                  <div class="uk-inline uk-width-1-1">
                    <span class="uk-label uk-label-danger">{{ representativeListMatch }}</span>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
      <div class="uk-card-footer uk-text-right@s uk-text-center nlt-button-group">
        <button (click)="updateWalletSettings()" class="uk-button uk-button-primary uk-width-auto@s uk-width-1-1">Update Wallet Settings</button>
      </div>
    </div>


    <div class="uk-card uk-card-default uk-margin">
      <div class="uk-card-header" id="server-settings">
        <h3 class="uk-card-title">Server Settings</h3>
      </div>
      <div class="uk-card-body">
        <div uk-grid>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">

              <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-select">Server Configuration <span uk-icon="icon: info;" uk-tooltip title="Change which server is used to communicate with the Nano network"></span></label>
                <div class="uk-form-controls">
                  <select class="uk-select" [(ngModel)]="selectedServer" (change)="serverConfigChange(selectedServer)" id="form-horizontal-select">
                    <option *ngFor="let server of serverOptions" [value]="server.value">{{ server.name }}</option>
                  </select>
                </div>
              </div>

            </div>
          </div>

          <div class="uk-width-1-1" *ngIf="showServerValues()">
            <div class="uk-form-horizontal">
              <div class="">
                <label class="uk-form-label uk-text-right">API Server <span uk-icon="icon: info;" uk-tooltip title="This server is used to load, cache, and enhance results from the Nano node"></span></label>
                <div class="uk-form-controls">

                  <div class="uk-inline uk-width-1-1" *ngIf="!showServerConfigs()">
                    <strong>{{ serverAPI }}</strong>
                  </div>
                  <div class="uk-inline uk-width-1-1" *ngIf="showServerConfigs()">
                    <input [(ngModel)]="serverAPI" class="uk-input uk-margin-small-bottom" type="text" placeholder="https://domain.com/path">
                    <span class="uk-text-meta">
                      This has to be a valid <a href="https://docs.nano.org/commands/rpc-protocol/" target="_blank" rel="noopener noreferrer">Nano RPC endpoint</a> or an API compliant with it.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1" *ngIf="showServerValues()">
            <div class="uk-form-horizontal">
              <div class="">
                <label class="uk-form-label uk-text-right">WebSocket Server <span uk-icon="icon: info;" uk-tooltip title="This server is used to notify the wallet in real time when new transactions arrive"></span></label>
                <div class="uk-form-controls">
                  <div class="uk-inline uk-width-1-1" *ngIf="!showServerConfigs()">
                    <strong>{{ serverWS }}</strong>
                  </div>

                  <div class="uk-inline uk-width-1-1" *ngIf="showServerConfigs()">
                    <input [(ngModel)]="serverWS" class="uk-input uk-margin-small-bottom" id="form-horizontal-text2" type="text" placeholder="wss://domain.com/path">
                    <span class="uk-text-meta">
                      This has to be a <a href="https://docs.nano.org/integration-guides/websockets/#configuration" target="_blank" rel="noopener noreferrer">Nano Node Websocket</a> or a WebSocket API compliant with it.<br>
                      <i>Note: Since this server only notifies about new transactions, most of the wallet functions fine without it.</i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1" *ngIf="showServerValues()">
            <div class="uk-form-horizontal">
              <div class="">
                <label class="uk-form-label uk-text-right">Auth Header <span uk-icon="icon: info;" uk-tooltip title="If API requires authentication. For example using basic auth: Basic xyz"></span></label>
                <div class="uk-form-controls">

                  <div class="uk-inline uk-width-1-1" *ngIf="!showServerConfigs()">
                    <strong>{{ serverAuth }}</strong>
                  </div>
                  <div class="uk-inline uk-width-1-1" *ngIf="showServerConfigs()">
                    <input [(ngModel)]="serverAuth" class="uk-input uk-margin-small-bottom" type="text" placeholder="Optional">
                    <span class="uk-text-meta">
                      This has to be a valid Authorization header.<br>
                      <i>For example, basic auth defined as "Authorization: Basic base64Encode(username:password)"<br>In that case, enter: Basic dHV0c3BsdXM6MTIzNDU2</i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1" *ngIf="showStatValues() || showServerConfigs()">
            <div class="uk-form-horizontal">
              <div>
                <label class="uk-form-label uk-text-right">Node Stats <span class="{{statsRefreshEnabled ? '':'node-stats-disabled'}}" id="node-stats" uk-icon="icon: refresh;" (click)="updateNodeStats(true)" uk-tooltip title="Can be used for troubleshooting. Click refresh to update."></span></label>
                <div class="uk-form-controls">
                  <div class="uk-inline uk-width-1-1">
                    <span class="uk-text-meta">
                      <table id="node-stats-table">
                        <td>
                          <tr>
                            <strong>Server</strong>
                          </tr>
                          <tr>
                            <strong>Block Count</strong>
                          </tr>
                          <tr>
                            <strong>Uncemented Blocks</strong>
                          </tr>
                          <tr>
                            <strong>Peers Stake Required</strong>
                          </tr>
                          <tr>
                            <strong>Peers Stake Total</strong>
                          </tr>
                          <tr>
                            <strong>Node Version</strong>
                          </tr>
                          <tr>
                            <strong>Network</strong>
                          </tr>
                          <tr *ngIf="showServerValues() && !showServerConfigs()">
                            <strong>Random Server</strong>
                          </tr>
                        </td>
                        <td>
                          <tr>
                            {{serverAPIUpdated ? serverAPI:'Save settings to update'}}
                          </tr>
                          <tr>
                            {{nodeBlockCount || 'N/A'}}
                          </tr>
                          <tr>
                            {{nodeUncemented || 'N/A'}}
                          </tr>
                          <tr>
                            {{peersStakeReq || 'N/A'}}
                          </tr>
                          <tr>
                            {{peersStakeTotal || 'N/A'}}
                          </tr>
                          <tr>
                            {{nodeVendor || 'N/A'}}
                          </tr>
                          <tr>
                            {{nodeNetwork || 'N/A'}}
                          </tr>
                          <tr *ngIf="showServerValues() && !showServerConfigs()">
                            {{shouldRandom || 'No'}}
                          </tr>
                        </td>
                      </table>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="uk-card-footer uk-text-right@s uk-text-center">
        <button (click)="updateServerSettings()" class="uk-button uk-button-primary uk-width-auto@s uk-width-1-1">Update Server Settings</button>
      </div>
    </div>


    <div class="uk-card uk-card-default uk-margin">
      <div class="uk-card-header">
        <h3 class="uk-card-title">Advanced Options</h3>
      </div>
      <div class="uk-card-body uk-text-center">
        <div uk-grid>

          <div class="uk-width-1-3@m">
            <button class="uk-button uk-button-danger" (click)="clearWorkCache()" uk-tooltip title="This will delete all locally cached Proof of Work values">Clear Work Cache</button>
          </div>
          <div class="uk-width-1-3@m">
            <button class="uk-button uk-button-danger" (click)="clearWalletData()" uk-tooltip title="This will delete all data related to your wallet (Your seed and accounts)">Delete Wallet Data</button>
          </div>
          <div class="uk-width-1-3@m">
            <button class="uk-button uk-button-danger" (click)="clearAllData()" uk-tooltip title="This will delete ALL stored data and reset app settings, including your wallet, address book and more.">Delete ALL Data</button>
          </div>
        </div>
      </div>
      <!--<div class="uk-card-footer uk-text-right">-->
        <!--<button (click)="updateWalletSettings()" class="uk-button uk-button-secondary">Update Wallet Settings</button>-->
      <!--</div>-->
    </div>

  </div>
</div>
