<div uk-grid>
  <div class="uk-width-1-1 uk-animation-slide-left-small">
    <div uk-grid class="uk-text-center" style="margin-bottom: 90px;">
      <div class="uk-width-1-1" style="margin-top: 45px;">
        <img [src]="( settingsService.settings.lightModeEnabled ? '/assets/img/nault-logo.svg' : '/assets/img/nault-logo-night-mode.svg' )" width="250px" style="display: block; margin: 0 auto 20px auto;" alt="Logo"/>
        <span class="uk-text-lead">{{ 'welcome.a-secure-open-source-wallet-for-nano' | translate }}</span><br>
      </div>
      <div class="uk-width-1-1" *ngIf="!isConfigured()">
        <div uk-grid>
          <div class="uk-width-1-1" style="margin-top: 10px;">
            <span class="uk-text-small">{{ 'welcome.to-get-started-choose-an-option-below-to-configure-your-wallet' | translate }}</span>
          </div>
          <div class="uk-width-1-2@m">
            <button routerLink="/configure-wallet" class="uk-button uk-button-primary uk-width-1-1 uk-button-large">{{ 'welcome.create-a-new-wallet' | translate }}</button>
          </div>
          <div class="uk-width-1-2@m">
            <button routerLink="/configure-wallet" [queryParams]="{ import: 1}" class="uk-button uk-button-primary uk-width-1-1 uk-button-large">{{ 'welcome.import-an-existing-wallet' | translate }}</button>
          </div>
        </div>
      </div>

      <div class="uk-width-1-1" *ngIf="isConfigured()">
        <div uk-grid>
          <div class="uk-width-1-1" style="margin-top: 10px;">
            <span class="uk-text-small">{{ 'welcome.welcome-back-it-looks-like-your-wallet-is-already-configured' | translate }}</span>
          </div>
          <div class="uk-width-1-1@m">
            <button routerLink="/accounts" class="uk-button uk-button-primary uk-width-1-1 uk-button-large">{{ 'welcome.view-my-accounts' | translate }}</button>
          </div>
        </div>
      </div>
    </div>

    <div uk-grid class="uk-margin-top">

      <div class="uk-width-1-1@m">
        <div class="uk-card uk-card-default uk-card-small">
          <div class="uk-card-body">

            <ul uk-accordion="">
              <li class="uk-open">

                <a class="uk-accordion-title uk-link-text" href="#">{{ 'welcome.why-use-nault' | translate }}</a>
                <div class="uk-accordion-content">
                  <dl class="uk-description-list">
                    <dt>{{ 'welcome.security-focused' | translate }}</dt>
                    <dd>
                      {{ 'welcome.all-sensitive-operations-happen-in-your-browser' | translate }}<br>
                      <a href="https://docs.nault.cc/2020/08/05/security-of-nano.html">{{ 'welcome.a-full-security-guide-is-found-here' | translate }}</a>
                    </dd>
                    <dt>{{ 'welcome.no-strings-attached-wallet' | translate }}</dt>
                    <dd>{{ 'welcome.because-no-information-is-ever-stored-on-a-server' | translate }}</dd>
                    <dt>{{ 'welcome.any-device-anywhere' | translate }}</dt>
                    <dd>{{ 'welcome.send-and-receive-nano-from-any-device-using-the-web-wallet' | translate }}</dd>
                    <dt>{{ 'welcome.helpful-features' | translate }}</dt>
                    <dd>{{ 'welcome.store-labels-for-your-friends-and-your-own-accounts' | translate }}</dd>
                  </dl>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>

      <div class="uk-width-1-1">

        <hr class="uk-divider-icon">

        <div class="uk-card uk-card-small uk-card-default uk-margin uk-width-1-1">
          <div class="uk-card-body uk-text-center">
            Nault is open source and all code is available at <a href="https://github.com/Nault/Nault" target="_blank" rel="noopener noreferrer">https://github.com/Nault/Nault</a>.<br>
            Please submit any feedback or bug reports on our GitHub page.  Thank you for using Nault!
          </div>
        </div>

        <div class="uk-width-1-1">
          <div class="uk-text-center uk-alert uk-alert-primary" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <strong>Don't have any Nano, but want to see how quick and easy it is to use?</strong><br>
            Use the <a href="https://nano-faucet.org/" target="_blank" rel="noopener noreferrer">Nano Faucet</a> with your Nault account to get going instantly!
          </div>
        </div>

        <div class="uk-text-center uk-text-small uk-text-truncate">
          {{ 'welcome.donation-address' | translate }}: <a [routerLink]="'/send'" [queryParams]="{ to: donationAccount }">{{ donationAccount }}</a>
        </div>
      </div>
    </div>
  </div>
</div>


