<div uk-grid>
  <div class="uk-width-1-1 uk-animation-slide-left-small">
    <h2>Welcome to RaiVault!</h2>

    <div class="uk-card uk-card-default">
      <div class="uk-card-body">
        <p>
          RaiVault is an open source wallet application for RaiBlocks.  It aims to make RaiBlocks incredibly easy to use, and adds
          a few helpful features as well. Press the button below to configure the application<br>
        </p>
      </div>
      <div class="uk-card-footer uk-text-right">
        <button routerLink="/configure-wallet" class="uk-button uk-button-primary">Configure Wallet</button>
      </div>
    </div>
    <hr class="uk-divider-icon">
    <div class="uk-card uk-card-small uk-card-default uk-margin">
      <div class="uk-card-body uk-text-center">
        This project is open source and all code is available at <a href="https://github.com/cronoh/raivault" target="_blank">https://github.com/cronoh/raivault</a>.<br>
        Please submit any feedback or bug reports on our GitHub page.  Thank you for using RaiVault!
      </div>
    </div>
  </div>
</div>


