.uk-button-large {
    border-radius: 50px;
    background-color: #3469ff;
    line-height: 1;
    letter-spacing: 0.5px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 320px;
}

.uk-button-large:hover {
    background-color: #3469ff;
}
