<div class="uk-animation-slide-left-small" uk-grid>
  <div class="uk-width-1-1">
    <h2>Account History</h2>

    <div uk-grid >
      <div class="uk-width-1-1">
        Select Account

        <div uk-grid>
          <div class="uk-width-3-4@s">
            <select class="uk-select" #accountHistoryModel>
              <option *ngFor="let account of accounts" [value]="account.id">{{ account.addressBookName ? account.addressBookName+' ('+account.id+')' : account.id }}</option>
            </select>
          </div>
          <div class="uk-width-1-4@s">
            <button class="uk-button uk-button-primary uk-width-1-1" (click)="getAccountHistory(accountHistoryModel.value)">View History</button>
          </div>
        </div>

        <div class="uk-card uk-card-default uk-margin-top">
          <table class="uk-table uk-table-striped uk-table-small">
            <thead>
            <tr>
              <th class="uk-width-2-5">Account</th>
              <th class="uk-width-1-5">Type</th>
              <th class="uk-width-1-5">Amount</th>
              <th class="uk-width-1-5">Hash</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let history of accountHistory">
              <td class="uk-text-truncate">
                <strong *ngIf="history.addressBookName" class="uk-margin-right">{{ history.addressBookName }}</strong>
                <a (click)="modal.showAccount(history.account)" class="uk-link-text" title="View Account Details" uk-tooltip>{{ history.account }}</a>
              </td>
              <td>{{ history.type }}</td>
              <td [ngClass]="{ 'uk-text-success': history.type == 'receive', 'uk-text-danger': history.type == 'send' }">{{ history.amount | rai: 'dynamic' }}</td>
              <td class="uk-text-truncate">{{ history.hash }}</td>
            </tr>
            <tr *ngIf="!accountHistory.length">
              <td colspan="4" style="text-align: center;">No account history</td>
            </tr>
            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>
</div>



