@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,400&family=Montserrat:wght@900&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: inherit;
  line-height: inherit;
  outline: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  font-family: "Merriweather", serif;
  line-height: 1.75;
}

body p {
  font-size: 16px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.9);
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
  padding: 2.625rem 1.3125rem;
}

footer {
  margin-top: 2rem;
}

header * {
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.9rem;
  line-height: 4.5rem;
  color: rgba(0, 0, 0, 0.9);
}

header .dmode {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: right;
}

header .dmode img {
  cursor: pointer;
  display: inline-block;
}

header section {
  display: flex;
  margin: 0 0 4.375rem 0;
  justify-content: space-between;
  align-items: flex-start;
}

section img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 0.5rem 1rem 0 0;
}

a {
  color: #2782cd;
  border-bottom: 1px solid #2782cd;
}

a:hover {
  border-bottom: none;
}

.posts {
  margin-top: 4rem;
}

.posts h3 {
  font-family: "Merriweather", "Georgia", serif;
  font-weight: 900;
  text-rendering: optimizeLegibility;
  font-size: 1.4427rem;
  line-height: 1.1;
  margin-top: 3.5rem;
}

.posts small {
  font-size: 80%;
  margin-top: 0.6rem;
  display: block;
}

/* post page */
header.p-page * {
  font-weight: 900;
  text-rendering: optimizeLegibility;
  font-size: 1.4427rem;
  line-height: 1.1;
}

header.p-page {
  margin-bottom: 1.75rem;
}

article .title {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  color: inherit;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  text-rendering: optimizeLegibility;
  font-size: 2.5rem;
  line-height: 1.1;
}

article .meta {
  margin-bottom: 1.75rem;
}

.content p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.75rem;
  line-height: inherit;
}

/* md syntax  */

.content h1 {
  font-size: 2rem;
}
.content h2 {
  font-size: 1.8rem;
}
.content h3 {
  font-size: 1.6rem;
}
.content h4 {
  font-size: 1.4rem;
}
.content h5 {
  font-size: 1.2rem;
}
.content h6 {
  font-size: 1rem;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin: 1.75rem 0;
  color: inherit;
  font-family: "Merriweather", serif;
  font-weight: 900;
  line-height: 1.1;
}

.markdown-body .highlighter-rouge {
  width: calc(50px + 50vw);
  max-width: 500px;
}

.highlighter-rouge .highlight {
  margin-top: 5px;
}

.highlighter-rouge .highlight .highlight {
  overflow-x: auto;
}

.content pre {
  background: #00110d !important;
  padding: 12px 13px;
  margin-bottom: 1.75rem;
}

.content code {
  margin: 0 2px;
  padding: 3px 5px;
  color: #97e1ff;
  border-radius: 2px;
  white-space: pre;
  background-color: #00110d;
  font-family: monospace;
}

.content blockquote,
.content blockquote p {
  margin-left: -1.75rem;
  padding-left: 1.42188rem;
  margin-bottom: 1.75rem;
  font-size: 1.20112rem;
  line-height: 1.75rem;
  color: hsla(0, 0%, 0%, 0.59);
  font-style: italic;
  border-left: 0.32813rem solid hsla(0, 0%, 0%, 0.9);
}

.content strong {
  font-weight: bold;
}

.content ul,
.content ol {
  margin-left: 1rem;
  margin-bottom: 10px;
}

.content table {
  width: 100%;
  margin: 1rem 0;
  border-collapse: collapse;
}

.content table th {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
}
.content table * {
  border: 1px solid rgba(0, 0, 0, 0.9);
  padding: 0.2rem;
}

.content img {
  max-width: 100%;
  margin: 1rem 0;
}

/* syntax */

.highlight .hll {
  background-color: #333333;
}
.highlight {
  color: #ffffff;
}
.highlight .c {
  color: #008800;
  font-style: italic;
  background-color: #0f140f;
} /* Comment */
.highlight .err {
  color: #ffffff;
} /* Error */
.highlight .g {
  color: #ffffff;
} /* Generic */
.highlight .k {
  color: #fb660a;
  font-weight: bold;
} /* Keyword */
.highlight .l {
  color: #ffffff;
} /* Literal */
.highlight .n {
  color: #ffffff;
} /* Name */
.highlight .o {
  color: #ffffff;
} /* Operator */
.highlight .x {
  color: #ffffff;
} /* Other */
.highlight .p {
  color: #ffffff;
} /* Punctuation */
.highlight .cm {
  color: #008800;
  font-style: italic;
  background-color: #0f140f;
} /* Comment.Multiline */
.highlight .cp {
  color: #ff0007;
  font-weight: bold;
  font-style: italic;
  background-color: #0f140f;
} /* Comment.Preproc */
.highlight .c1 {
  color: #008800;
  font-style: italic;
  background-color: #0f140f;
} /* Comment.Single */
.highlight .cs {
  color: #008800;
  font-style: italic;
  background-color: #0f140f;
} /* Comment.Special */
.highlight .gd {
  color: #ffffff;
} /* Generic.Deleted */
.highlight .ge {
  color: #ffffff;
} /* Generic.Emph */
.highlight .gr {
  color: #ffffff;
} /* Generic.Error */
.highlight .gh {
  color: #ffffff;
  font-weight: bold;
} /* Generic.Heading */
.highlight .gi {
  color: #ffffff;
} /* Generic.Inserted */
.highlight .go {
  color: #444444;
  background-color: #222222;
} /* Generic.Output */
.highlight .gp {
  color: #ffffff;
} /* Generic.Prompt */
.highlight .gs {
  color: #ffffff;
} /* Generic.Strong */
.highlight .gu {
  color: #ffffff;
  font-weight: bold;
} /* Generic.Subheading */
.highlight .gt {
  color: #ffffff;
} /* Generic.Traceback */
.highlight .kc {
  color: #fb660a;
  font-weight: bold;
} /* Keyword.Constant */
.highlight .kd {
  color: #fb660a;
  font-weight: bold;
} /* Keyword.Declaration */
.highlight .kn {
  color: #fb660a;
  font-weight: bold;
} /* Keyword.Namespace */
.highlight .kp {
  color: #fb660a;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #fb660a;
  font-weight: bold;
} /* Keyword.Reserved */
.highlight .kt {
  color: #cdcaa9;
  font-weight: bold;
} /* Keyword.Type */
.highlight .ld {
  color: #ffffff;
} /* Literal.Date */
.highlight .m {
  color: #0086f7;
  font-weight: bold;
} /* Literal.Number */
.highlight .s {
  color: #0086d2;
} /* Literal.String */
.highlight .na {
  color: #ff0086;
  font-weight: bold;
} /* Name.Attribute */
.highlight .nb {
  color: #ffffff;
} /* Name.Builtin */
.highlight .nc {
  color: #ffffff;
} /* Name.Class */
.highlight .no {
  color: #0086d2;
} /* Name.Constant */
.highlight .nd {
  color: #ffffff;
} /* Name.Decorator */
.highlight .ni {
  color: #ffffff;
} /* Name.Entity */
.highlight .ne {
  color: #ffffff;
} /* Name.Exception */
.highlight .nf {
  color: #ff0086;
  font-weight: bold;
} /* Name.Function */
.highlight .nl {
  color: #ffffff;
} /* Name.Label */
.highlight .nn {
  color: #ffffff;
} /* Name.Namespace */
.highlight .nx {
  color: #ffffff;
} /* Name.Other */
.highlight .py {
  color: #ffffff;
} /* Name.Property */
.highlight .nt {
  color: #fb660a;
  font-weight: bold;
} /* Name.Tag */
.highlight .nv {
  color: #fb660a;
} /* Name.Variable */
.highlight .ow {
  color: #ffffff;
} /* Operator.Word */
.highlight .w {
  color: #888888;
} /* Text.Whitespace */
.highlight .mf {
  color: #0086f7;
  font-weight: bold;
} /* Literal.Number.Float */
.highlight .mh {
  color: #0086f7;
  font-weight: bold;
} /* Literal.Number.Hex */
.highlight .mi {
  color: #0086f7;
  font-weight: bold;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #0086f7;
  font-weight: bold;
} /* Literal.Number.Oct */
.highlight .sb {
  color: #0086d2;
} /* Literal.String.Backtick */
.highlight .sc {
  color: #0086d2;
} /* Literal.String.Char */
.highlight .sd {
  color: #0086d2;
} /* Literal.String.Doc */
.highlight .s2 {
  color: #0086d2;
} /* Literal.String.Double */
.highlight .se {
  color: #0086d2;
} /* Literal.String.Escape */
.highlight .sh {
  color: #0086d2;
} /* Literal.String.Heredoc */
.highlight .si {
  color: #0086d2;
} /* Literal.String.Interpol */
.highlight .sx {
  color: #0086d2;
} /* Literal.String.Other */
.highlight .sr {
  color: #0086d2;
} /* Literal.String.Regex */
.highlight .s1 {
  color: #0086d2;
} /* Literal.String.Single */
.highlight .ss {
  color: #0086d2;
} /* Literal.String.Symbol */
.highlight .bp {
  color: #ffffff;
} /* Name.Builtin.Pseudo */
.highlight .vc {
  color: #fb660a;
} /* Name.Variable.Class */
.highlight .vg {
  color: #fb660a;
} /* Name.Variable.Global */
.highlight .vi {
  color: #fb660a;
} /* Name.Variable.Instance */
.highlight .il {
  color: #0086f7;
  font-weight: bold;
} /* Literal.Number.Integer.Long */

/* dark mode */

.darkmode {
  color: white !important;
  background-color: black !important;
}
.darkmode header p,
.darkmode header h1 {
  color: white !important;
}

.darkmode p {
  color: white !important;
}

.darkmode .dmode img {
  filter: invert();
  -webkit-animation: spin 0.4s linear;
  -moz-animation: spin 0.4s linear;
  animation: spin 0.4s linear;
}

html, body {
	transition-duration: 0.4s;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(45deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

/* Emoji */

.emoji {
  margin-bottom: -4px;
}

/* light box */

/* lightbox */

.content img {
  cursor: zoom-in;
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
  background-color: black;
  border: 2px solid white;
}
