// Variables
// ========================================================================

@nav-item-padding-vertical:                     10px;

@nav-sublist-padding-vertical:                  10px;
@nav-sublist-item-padding-vertical:             8px;

@nav-default-item-color:                        #fff;
@nav-default-item-hover-color:                  @global-link-color;
@nav-default-item-active-color:                 @global-link-color;

@nav-default-sublist-item-color:                #fff;
@nav-default-sublist-item-hover-color:          @global-link-color;

.nav-container {
	background: #000034;
}

.nav-container .uk-background-secondary {
	background: @global-secondary-background-alt;
}

.left-nav .active {
    color: @nav-default-item-active-color;
}