// Variables
// ========================================================================

@nav-item-padding-vertical:                     10px;

@nav-sublist-padding-vertical:                  10px;
@nav-sublist-item-padding-vertical:             8px;

@nav-default-item-color:                        #fff;
@nav-default-item-hover-color:                  @global-link-color;
@nav-default-item-active-color:                 @global-link-color;

@nav-default-sublist-item-color:                #fff;
@nav-default-sublist-item-hover-color:          @global-link-color;

.nav-container {
	background: #1F1F26;
	min-height: 100vh;
	min-width: 360px;
	color: #8786B0;
}

.nav-container .uk-background-secondary {
	background: @global-secondary-background-alt;
}

.nav-container .nav-nano-card {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin: 20px;
	border-radius: 10px;
	background: #4E91E0;
	position: relative;
	overflow: hidden;

	height: 155px;
	@media (min-width: 640px) {
		height: 11vw;
		min-height: 155px;
	}

	> .logo {
		position: absolute;
		width: 100%;
		height: 100%;
		background: url('../../assets/img/nano-mark.svg');
		background-size: 170%;
		background-position: 29% 30%;
		background-repeat: no-repeat;
	}

	> .card-contents {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	> .card-contents > .account-name-container {
		display: flex;
		align-items: center;
		margin: 15px 12px 14px 17px;

		> .name {
			color: #FFF;
			margin-right: 10px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			font-size: 14px;
			@media (min-width: 1500px) {
				font-size: 18px;
			}
		}

		> .select-button {
			display: flex;
			margin-top: 1px;
			padding: 9px 8px 9px 5px;
			cursor: pointer;
			border: 2px solid transparent;
			border-radius: 20px;
			transition: border-color 100ms ease-in-out;

			&:hover {
				border: 2px solid #FFF;
			}

			> .circle {
				width: 5px;
				height: 5px;
				border-radius: 100%;
				background: #FFF;
				margin-left: 3px;
			}
		}
	}

	> .card-contents > .account-balances > .spinner-container {
		display: flex;
		margin: 25px 12px 20px 17px;

		.uk-spinner {
			color: #FFF;
		}
	}

	> .card-contents > .account-balances > .balance-container {
		display: flex;
		align-items: flex-end;
		margin: 0 12px 20px 17px;
		line-height: 1;

		&.primary {
			margin-bottom: 12px;
			color: #FFF;

			> .currency-name {
				font-size: 18px;
				margin-bottom: -1px;
				@media (min-width: 1500px) {
					font-size: 22px;
					margin-bottom: 0;
				}
			}

			> .amount-container {
				> .amount-integer {
					font-weight: 700;

					font-size: 26px;
					margin-bottom: -2px;
					@media (min-width: 1500px) {
						font-size: 32px;
						margin-bottom: -1px;
					}
				}

				> .amount-fractional {
					font-size: 16px;
					@media (min-width: 1500px) {
						font-size: 21px;
					}
				}
			}
		}

		&.converted {
			color: #DEEDFF;

			> .currency-name {
				font-size: 12px;
				margin-bottom: 0;
				@media (min-width: 1500px) {
					font-size: 12px;
					margin-bottom: 1px;
				}

				> .estimate-symbol {
					margin-right: 2px;
				}
			}

			> .amount-container {
				> .amount-integer {
					margin-right: 1px;
					margin-bottom: -1px;

					font-size: 16px;
					@media (min-width: 1500px) {
						font-size: 18px;
					}
				}

				> .amount-fractional {
					font-size: 15px;

					font-size: 12px;
					@media (min-width: 1500px) {
						font-size: 15px;
					}
				}
			}
		}

		> .currency-name {
			width: 55px;
			@media (min-width: 1500px) {
				width: 70px;
			}

			margin-right: 15px;
			font-weight: 300;
			text-align: right;
		}

		> .amount-container {
			display: flex;
			align-items: flex-end;
			overflow: hidden;

			> .amount-fractional {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}

.nav-container .nav-status-row {
	display: flex;
	align-items: center;
	margin: 0 20px 20px 20px;

	&.interactable {
		text-decoration: none;
		cursor: pointer;

		> .status-labels > .label {
			border-bottom: 2px solid transparent;
			transition: border-color 100ms ease-in-out;
			padding: 4px 0 1px 0;
		}

		&:hover > .status-labels {
			> .label.uk-text-success {
				border-bottom: 2px solid #32D296;
			}

			> .label.uk-text-warning {
				border-bottom: 2px solid #FAA05A;
			}

			> .label.half-muted {
				border-bottom: 2px solid #B7B6D5;
			}
		}
	}

	&.half-muted {
		color: #B7B6D5;
	}

	> .status-icon {
		width: 33px;
	}

	> .status-labels {
		display: flex;
		flex-direction: column;

		> .primary {

		}

		> .secondary {
			font-size: 13px;

			> a {
				text-decoration: none;
				border-bottom: 2px solid transparent;
				transition: border-color 100ms ease-in-out;
				padding: 4px 0 1px 0;

				&:hover {
					color: #4A90E2;
					border-bottom: 2px solid #4A90E2;
				}
			}
		}
	}
}

.nav-nano-card + .nav-status-row {
	margin-top: -10px;
}

.left-nav .active {
    color: @nav-default-item-active-color;
}
