.confirm-title {
  /*display: block;*/
  font-size: 24px;
}

.confirm-currency {
  display: block;
  font-size: 20px;
}

.confirm-subtitle {
  display: block;
  font-size: 10px;
}

.uk-form-label {
  margin-top: 2px;
}
