<div class="uk-animation-slide-left-small" uk-grid>
  <div class="uk-width-1-1">
    <h2 class="uk-heading-divider">Transaction Details</h2>

    <div class="uk-alert uk-alert-primary" *ngIf="!transaction">
      Unable to load the transaction, double check that the hash is correct and try again!
    </div>

    <div class="uk-width-1-1" *ngIf="transaction">
      <div class="uk-card uk-card-default uk-width-1-1 uk-text-center" *ngIf="blockType !== 'change'">
        <span style="display: block; padding-top: 8px;">
          <span *ngIf="blockType == 'send'">Send</span>
          <span *ngIf="blockType == 'open'">Receive</span>
          <span *ngIf="blockType == 'receive'">Receive</span>
        </span>
        <span style="display:block; font-size: 32px;">{{ transaction?.amount | rai: settings.settings.displayDenomination }}</span>
        <span *ngIf="amountRaw.gt(0)" style="display:block; font-size: 12px;">+{{ amountRaw.toString(10) }} raw</span>
      </div>
      <div class="uk-card uk-card-default uk-width-1-1 uk-text-center" *ngIf="blockType == 'change'">
        <span style="display:block; font-size: 32px;">Change Representative</span>
      </div>
      <br>
      <div uk-grid>
        <div class="uk-width-1-2@s">
          <div class="uk-card uk-card-default">

            <div class="uk-text-truncate" style="padding: 20px 20px;">

              <span class="confirm-title">
                <a [routerLink]="'/account/' + fromAccountID" class="uk-link-reset" uk-tooltip title="View Account Details">
                  <span class="uk-label" *ngIf="fromAddressBook">{{ fromAddressBook }}</span> {{ fromAccountID }}
                </a>
              </span>
              <span class="confirm-subtitle" *ngIf="blockType != 'change'">From Account</span>
              <span class="confirm-subtitle" *ngIf="blockType == 'change'">Account</span>
            </div>
          </div>
        </div>
        <div class="uk-width-1-2@s">
          <div class="uk-card uk-card-default">
            <div class="uk-text-truncate" style="padding: 20px 20px;">
              <span class="confirm-title">
                <a [routerLink]="'/account/' + toAccountID" class="uk-link-reset" uk-tooltip title="View Account Details">
                  <span class="uk-label" *ngIf="toAddressBook">{{ toAddressBook }}</span> {{ toAccountID }}
                </a>
              </span>
              <span class="confirm-subtitle" *ngIf="blockType != 'change'">To Account</span>
              <span class="confirm-subtitle" *ngIf="blockType == 'change'">New Representative</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="uk-card uk-card-default uk-margin" *ngIf="transaction">
      <div class="uk-card-body uk-padding-small uk-form-horizontal">

        <div class="uk-margin">
          <label class="uk-form-label">Block:</label>
          <div class="uk-form-controls uk-text-truncate">
            {{ hashID }}
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label">Type:</label>
          <div class="uk-form-controls uk-text-truncate">
            {{ transaction?.contents?.type }}
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label">Date:</label>
          <div class="uk-form-controls uk-text-truncate">
            <span *ngIf="transaction.local_timestamp">{{ transaction?.local_timestamp * 1000 | date: 'yyyy-MM-dd HH:mm' }}</span>
            <span *ngIf="!transaction.local_timestamp" class="uk-text-muted">N/A</span>
          </div>
        </div>
        <div class="uk-margin" *ngIf="transaction?.contents?.balance">
          <label class="uk-form-label">Balance:</label>
          <div class="uk-form-controls uk-text-truncate">
            {{ (isStateBlock ? getBalanceFromDec(transaction?.contents?.balance) : getBalanceFromHex(transaction?.contents?.balance)) | rai: settings.settings.displayDenomination }}<br>
            <span class="uk-text-small">{{ transaction?.contents?.balance }}</span>
          </div>
        </div>
        <div class="uk-margin" *ngIf="transaction?.contents?.representative">
          <label class="uk-form-label">Representative:</label>
          <div class="uk-form-controls uk-text-truncate">
            <a [routerLink]="'/account/' + transaction?.contents?.representative" class="uk-link-text" uk-tooltip title="View Account Details">{{ transaction?.contents?.representative }}</a>
          </div>
        </div>
        <div class="uk-margin" *ngIf="transaction?.contents?.previous">
          <label class="uk-form-label">Previous:</label>
          <div class="uk-form-controls uk-text-truncate">
            <a [routerLink]="'/transaction/' + transaction?.contents?.previous" class="uk-link-text" uk-tooltip title="View Block Details">{{ transaction?.contents?.previous }}</a>
          </div>
        </div>
        <div class="uk-margin" *ngIf="transaction?.contents?.source">
          <label class="uk-form-label">Source:</label>
          <div class="uk-form-controls uk-text-truncate">
            <a [routerLink]="'/transaction/' + transaction?.contents?.source" class="uk-link-text" uk-tooltip title="View Block Details">{{ transaction?.contents?.source }}</a>
          </div>
        </div>
        <div class="uk-margin" *ngIf="transaction?.contents?.link && blockType == 'receive'">
          <label class="uk-form-label">Link (Source):</label>
          <div class="uk-form-controls uk-text-truncate">
            <a [routerLink]="'/transaction/' + transaction?.contents?.link" class="uk-link-text" uk-tooltip title="View Block Details">{{ transaction?.contents?.link }}</a>
          </div>
        </div>
        <div class="uk-margin" *ngIf="transaction?.contents?.link_as_account && blockType == 'send'">
          <label class="uk-form-label">Link (Destination):</label>
          <div class="uk-form-controls uk-text-truncate">
            <a [routerLink]="'/account/' + transaction?.contents?.link_as_account" class="uk-link-text" uk-tooltip title="View Account Details">{{ transaction?.contents?.link_as_account }}</a>
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label">Work:</label>
          <div class="uk-form-controls uk-text-truncate">
            {{ transaction?.contents?.work }}
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label">Signature:</label>
          <div class="uk-form-controls uk-text-small uk-text-truncate">
            {{ transaction?.contents?.signature }}
          </div>
        </div>

      </div>
    </div>

    <div uk-grid>
      <div class="uk-width-1-1 uk-text-center">
        <a (click)="showBlockData = !showBlockData" class="uk-link-text">{{ showBlockData ? 'Hide' : 'Show' }} Block Data</a>
      </div>
    </div>

    <div class="uk-card uk-card-default uk-margin" *ngIf="transaction && transactionJSON && showBlockData">
      <div class="uk-card-header">
        Raw Block Data
      </div>
      <div class="uk-card-body uk-padding-small uk-form-horizontal">
        <pre><code>{{ transactionJSON }}</code></pre>
      </div>
    </div>

  </div>
</div>
