/* You can add global styles to this file, and also import other style files */
html {
    color: #676686;
}

.app, .uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif !important;
}

.form-icon-btn {
    background: #4a90e2;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0 10px;
    color: white;
}

.form-icon-btn:focus, .form-icon-btn:hover {
    background: #3379ca;
    color: white;
}

.uk-button {
    min-height: 40px;
    border-radius: 25px;
    background-color: #4a90e2;
}

.uk-button-primary {
    box-shadow: 0 10px 20px 0 #4a90e240;
}

.uk-button-primary:focus, .uk-button-primary:hover {
    background-color: #3379ca !important;
}

.uk-button-secondary {
    color: #4a90e2;
    border: 1px solid #dce9f9;
    border-radius: 32px;
    background: transparent;
}

.uk-button-secondary:focus, .uk-button-secondary:hover {
    background: #dce9f9;
    color: #3379ca;
}

.uk-button-danger {
    background-color: #ee395b;
}

.uk-button-danger:hover {
    background-color: #ee1a41;
}

.uk-nav>li>a {
    padding: 10px 0;
}

.uk-nav-sub a {
    padding: 8px 0;
}

.uk-background-secondary:not(.wallet-bar) {
    background: #4b90e2;
}

.uk-panel-scrollable {
    resize: none;
  }

.uk-card-default {
    background: #f4faff;
    color: #676686;
    box-shadow: none !important;
    border-radius: 10px;
}

.uk-card-default .uk-card-header {
    border-bottom: 1px solid #dce9f9;
}

.uk-card-default .uk-card-footer {
    border-top: 1px solid #dce9f9;
}

.uk-link, a {
    color: #4a90e2;
}

.uk-alert-primary {
    background: #dce9f9;
    color: #4a90e2;
}

.uk-input, .uk-select, .uk-textarea {
    background: #fff;
    border-radius: 5px;
    border-color: #dce9f9;
}

.uk-input:focus, .uk-select:focus, .uk-textarea:focus {
    border-color: #4a90e2;
}

.uk-form-danger, .uk-form-danger:focus {
    color: #f0506e;
    border-color: #f0506e;
}

.uk-h2, h2 {
    color: #4a90e2;
    font-weight: 300;
}

.uk-table-striped tbody tr:nth-of-type(odd), .uk-table-striped>tr:nth-of-type(odd) {
    background: #fff;
    border-top: 1px solid #dce9f9;
    border-bottom: 1px solid #dce9f9;
}

.uk-list-striped>li:nth-of-type(odd) {
    background: #f4faff;
    border-top: 1px solid #dce9f9;
    border-bottom: 1px solid #dce9f9;
}
