/* You can add global styles to this file, and also import other style files */
.uk-button {
    height: 40px;
    border-radius: 25px;
}
.uk-button-primary {
    background-color: #4a90e2;
}
.uk-button-secondary {
    background-color: #333;
    margin-left: 10px;
}

.uk-button-danger {
    background-color: #ee395b;
}

.uk-button-danger:hover {
    background-color: #ee1a41;
}

.uk-button-large:hover {
    background-color: #0f7ae5 !important;
}

.uk-panel-scrollable {
    resize: none;
}

a.uk-link-text:hover {
    color: #777;
    filter: brightness(1.25);
}

.scanner-modal .modal-dialog {
    max-width: 700px;
}

.scanner-modal .scanner-modal-sub {
    max-width: 95%;
}

@media (max-width: 639px) {
    .scanner-modal .modal-dialog {
        max-width: 100%;
    }
  }