<div class="uk-animation-slide-left-small" uk-grid>
  <div class="uk-width-1-1" id="address-book-sortable">
    
    <div class="uk-margin-bottom" uk-grid>
      <div class="uk-width-expand@s uk-width-1-1">
        <h2 class="uk-heading-divider uk-text-truncate">
          {{ 'general.address-book' | translate }}
          <a (click)="activePanel =  activePanel === 0 ? 2 : 0;" style="font-size: 12px; margin-left: 25px;">{{ activePanel === 2 ? 'BACK TO ADDRESS BOOK' : ('general.import-export' | translate) }}</a>
        </h2>
      </div>
      <div class="uk-width-auto@s uk-width-1-1 uk-text-right">
        <button class="uk-button uk-button-secondary uk-align-right uk-width-auto@s" (click)="addEntry()" *ngIf="activePanel === 0">{{ 'address-book.add-new-contact' | translate }}</button>
      </div>
    </div>

    <div class="uk-width-1-1 nlt-page-intro" *ngIf="activePanel === 0">
      <p>
        {{ 'address-book.you-can-use-the-address-book-to-store-a-label' | translate }}
      </p>
    </div>

    <div class="uk-animation-slide-left-small" *ngIf="activePanel === 0" uk-grid>
      <div class="uk-width-1-1">
        <div class="uk-card uk-margin">

          <ul class="uk-list uk-list-striped" style="margin-bottom: 0;">
            <li class="uk-list-header">
              <div uk-grid>
                <div class="uk-width-2-5">{{ 'general.name' | translate }}</div>
                <div class="uk-width-expand">{{ 'general.account' | translate }}</div>
                <div class="uk-width-1-6 uk-text-center" style="padding-left: 0;">{{ 'general.options' | translate }}</div>
              </div>
            </li>
          </ul>

          <ul class="uk-list uk-list-striped" style="margin-top: 0;" uk-sortable="handle: .uk-sortable-handle; cls-custom: uk-box-shadow-small uk-background uk-background-default;">
            <li class="" *ngFor="let addressBook of addressBook$ | async;" [attr.data-account]="addressBook.account">
              <div uk-grid>
                <div class="uk-width-2-5 uk-text-truncate uk-visible-toggle">
                  <div uk-grid>
                    <div class="uk-width-expand uk-text-truncate uk-margin-small-right">
                      {{ addressBook.name }}
                    </div>
                    <ul class="uk-iconnav uk-width-auto">
                      <li><a (click)="editEntry(addressBook)" title="Edit Account Label" uk-tooltip uk-icon="icon: pencil;" class="edit-name-icon"></a></li>
                      <li><a class="uk-sortable-handle uk-margin-small-right" uk-icon="icon: table"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="uk-width-expand uk-text-truncate uk-visible-toggle">
                  <div uk-grid>
                    <div class="uk-width-expand uk-text-truncate">
                      <a [routerLink]="'/account/' + addressBook.account" class="nano-address-clickable nano-address-monospace uk-display-block" title="View Account Details" uk-tooltip>
                        <app-nano-account-id [accountID]="addressBook.account"></app-nano-account-id>
                      </a>
                    </div>
                    <ul class="nano-address-actions uk-iconnav">
                      <li><a ngxClipboard [cbContent]="addressBook.account" (cbOnSuccess)="copied()" uk-icon="icon: copy" title="Copy Account Address" uk-tooltip></a></li>
                    </ul>
                  </div>

                </div>
                <div class="uk-width-1-6 uk-text-center" style="padding-left: 0;">
                  <a (click)="deleteAddress(addressBook.account)" class="uk-text-danger" title="Delete From Address Book" uk-tooltip><span uk-icon="icon: trash;"></span></a>
                </div>
              </div>

            </li>
            <li *ngIf="!(addressBook$ | async).length" class="uk-text-center">
              You do not have any address book entries saved yet, <a (click)="addEntry()">click here to create one</a>.
            </li>
          </ul>

        </div>
      </div>
    </div>

    <div class="uk-animation-slide-left-small" *ngIf="activePanel === 1" uk-grid>
      <div class="uk-width-1-1">
        <div class="uk-card uk-card-default">
          <div class="uk-card-header">
            <h2 class="uk-card-title">{{ creatingNewEntry ? 'Add New Contact' : 'Edit Contact' }}</h2>
          </div>
          <div class="uk-card-body">
            <div class="uk-form-horizontal">
              <div class="uk-margin">
                <label class="uk-form-label" for="new-address-account">{{ 'general.account' | translate }}</label>
                <div class="uk-form-controls">
                  <div class="uk-inline uk-width-1-1">
                    <a class="uk-form-icon uk-form-icon-flip" uk-icon="icon: camera" (click)="openQR('account1','account')" uk-tooltip title="{{ 'general.scan-qr-code' | translate }}" *ngIf="creatingNewEntry"></a>
                    <input type="text" class="uk-input" id="new-address-account" [(ngModel)]="newAddressAccount" [disabled]="!creatingNewEntry" placeholder="nano_abc123">
                  </div>
                </div>
              </div>

              <div class="uk-margin">
                <label class="uk-form-label" for="new-address-name">{{ 'general.name' | translate }}</label>
                <div class="uk-form-controls">
                  <input type="text" class="uk-input" id="new-address-name" [(ngModel)]="newAddressName" (keyup.enter)="saveNewAddress()" placeholder="Exchange Deposit Address, Main Trading Account, etc">
                </div>
              </div>
            </div>
          </div>
          <div class="uk-card-footer uk-text-right@s nlt-button-group">
            <button class="uk-button uk-button-danger" (click)="cancelNewAddress()">{{ 'general.cancel' | translate }}</button>
            <button class="uk-button uk-button-primary" (click)="saveNewAddress()">Save</button>
          </div>
        </div>
      </div>
    </div>

    <div class="uk-animation-slide-left-small" *ngIf="activePanel === 2" uk-grid>
      <div class="uk-width-1-1">
        <div class="uk-card uk-card-default">
          <div class="uk-card-header">
            <h3 class="uk-card-title">Address Book Import</h3>
          </div>
          <div class="uk-card-body">
            <p>Import address book entries from a file.</p>
          </div>
          <div class="uk-card-footer uk-text-right@s uk-text-center nlt-button-group">
            <div class="js-upload uk-text-left uk-width-auto@s uk-width-1-1" style="display: inline-block;" uk-form-custom>
              <input type="file" id="import-from-file" (change)="importFromFile($event.target.files)" multiple>
              <button class="uk-button uk-button-primary uk-width-auto@s uk-width-1-1" type="button" tabindex="-1">Import Address Book</button>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-width-1-1">
        <div class="uk-card uk-card-default">
          <div class="uk-card-header">
            <h3 class="uk-card-title">Address Book Export</h3>
          </div>
          <div class="uk-card-body">
            <p>Export all address book entries to a file or QR Code/URL.<br><br>Note: Exported address book will NOT be encrypted by your wallet password.</p>
            <div *ngIf="addressBookShowQRExport" uk-grid>
              <div class="uk-width-1-1">
                <hr class="uk-divider-icon">
              </div>

              <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-3@l">
                <img [src]="addressBookQRExportImg" alt="QR code" style="border-radius: 6px;">
              </div>
              <div class="uk-width-1-1@s uk-width-1-2@m uk-width-2-3@l">
                Scan the QR code on any device to import your address book!<br>
                <br>
                You can also import your address book by using the URL below.
                <br><br>
                <input type="text" class="uk-input" style="max-width: 750px;" value="{{ addressBookQRExportUrl }}"><br>
                <div class="nlt-button-group uk-margin-small-top">
                  <button ngxClipboard [cbContent]="addressBookQRExportUrl" (cbOnSuccess)="notificationService.sendSuccess('Address book export copied to clipboard!')" class="uk-button uk-button-secondary" style="margin-left: 0;">Copy To Clipboard</button>
                  <button (click)="exportAddressBookToFile()" class="uk-button uk-button-primary">Export As File</button>
                </div>
              </div>
            </div>
          </div>
          <div class="uk-card-footer uk-text-right@s uk-text-center nlt-button-group">
            <button (click)="exportAddressBook()" class="uk-button uk-button-primary uk-width-auto@s uk-width-1-1">Export Address Book</button>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
